{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Clinic And Team' %}{% endblock %}

{% block body_class %}template-clinic-and-team{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type top-section-team row">
        <div class="sd-team-ts-slick-arrows slide-right">
            <button class="sd-team-ts-slick-prev sd-btn">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button class="sd-team-ts-slick-next sd-btn">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
        <div class="ts-red-box col-sm-offset-7 col-sm-5 slide-right" >
            <div>
                <h1 class="ts-red-box-title">
                    {% blocktrans %}
                    <span class="text-thin">
                        The<br>
                    </span>
                    <span class="text-light">Clinic</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-7 col-sm-5 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div class="ts-bg"></div>
        <div class="ts-team-slider-wrapper slide-left">
            <div class="ts-team-slider sd-team-ts-slick clinic-fix">
                <div><img src="{% static 'img/clinic/hero/Reception_2.jpg' %}" ></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <p class="sd-copy sd-team-first-paragraph slide-left">
                 <!-- of Lorem Ipsum available, <span class="text-medium">bold</span>  -->
            </p>
        </div>
    </div>
</div>

<div class="sd-slick-wrapper-team slide-bottom-1">
    <div class="sd-slick-title">
        {% blocktrans %}
        Browse <br class="visible-xs-block">
        <span class="text-normal">the space</span>
        {% endblocktrans %}
    </div>
    <div class="sd-team-mid-slick">
        <div class="sd-slick-slide">
            <img class="sd-slick-img" src="{% static 'img/clinic/gallery/Dental_Office_1.jpg' %}" alt="">
        </div>
        <div class="sd-slick-slide">
            <img class="sd-slick-img" src="{% static 'img/clinic/gallery/Dental_Office_2.jpg' %}" alt="">
        </div>
        <div class="sd-slick-slide">
            <img class="sd-slick-img" src="{% static 'img/clinic/gallery/Dental_Office_3.jpg' %}" alt="">
        </div>
        <div class="sd-slick-slide">
            <img class="sd-slick-img" src="{% static 'img/clinic/gallery/Office.jpg' %}" alt="">
        </div>
        <div class="sd-slick-slide">
            <img class="sd-slick-img" src="{% static 'img/clinic/gallery/Reception.jpg' %}" alt="">
        </div>
    </div>

    <!-- <div class="sd-slick-buttons" style="z-index: 5000; position:absolute;">
        <button class="sd-slick-prev sd-btn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <button class="sd-slick-next sd-btn">
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>
    </div> -->
</div>

{% endblock %}

{% block extra_js %}
    <script>
        (function() {
            'use strict';

            $('.sd-team-ts-slick').slick({
                "fade": true,
                "swipe": false,
                "dots": false,
                "prevArrow": $('.sd-team-ts-slick-prev'),
                "nextArrow": $('.sd-team-ts-slick-next'),
            });

            $('.sd-team-mid-slick').slick({
                "fade": true,
                "swipe": false,
                "dots": true,
                "arrows":true,
                "prevArrow": $('.sd-slick-prev'),
                "nextArrow": $('.sd-slick-next'),
                "arrows": false,
                "autoplay": true,
                "autoplaySpeed": 4000,
            });
        }());
    </script>
{% endblock %}
