{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block body_class %}template-contacts{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                
                <h1 class="ts-red-box-title slide-right-contact">
                    <span class="text-thin">
                        {% trans 'Phones' %}:
                    </span>
                </h1>
                <a class="ts-red-box-text slide-right-contact" href="tel:00359878559966">
                    <span class="text-thin">00 359 </span>878 55 99 66
                </a>
                <br>
                <a class="ts-red-box-text slide-right-contact" href="tel:00359877559966">
                    <span class="text-thin">00 359 </span>877 55 99 66
                </a>

                <!-- <h1 class="ts-red-box-title slide-right-contact">
                    <span class="text-thin slide-right-contact">
                        {% trans 'Mail' %}:
                    </span>
                </h1>
                <a class="ts-red-box-text ts-red-box-text-email slide-right-contact" href="mailto:centersmiledesign@abv.bg">
                    centersmiledesign@abv.bg
                </a> -->
                <h1 class="ts-red-box-title slide-right-contact">
                    
                    <span class="text-thin">
                        {% trans 'Address' %}:
                    </span>
                </h1>
                <p class="ts-red-box-text slide-right-contact">
                    <span class=" slide-right-contact">{% trans '53A Professor Kiril Popov Str.,' %} </span> <br>
                    <span class="text-thin slide-right-contact">{% trans 'Sofia, 1700' %}</span>
                </p>


            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div id="ts-contact-map" class="slide-left"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 col-sm-push-5 contact-text-col-wrapper">
          <div class="contacts-text-box">
            <h4 class="slide-bottom-4">
                {% trans 'Booking an appointment is only done through phone' %}
            </h4>
            <p class=" sd-copy slide-bottom-1">
                {% blocktrans %}
                Due to the circumstances of COVID-19, the clinic has new operating hours: <b>07:30am -  3:30pm from Monday to Friday, only with a prebook appointment.</b> 
                {% endblocktrans %}
            </p>
          </div>
           
        </div>
        <div class="col-sm-5 col-sm-pull-7 contact-form-col-wrapper">
            <form class="contact-form" method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="slide-bottom-2">{{ field.label_tag }}</div>
                    <div class="slide-bottom-2">{{ field }}</div>
                    <div class="slide-bottom-2">{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" class="slide-bottom-2">{% trans 'Send' %}</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
    <script>
        var mapSelectorID = 'ts-contact-map';

        function offsetCenter(map, markerLatLng) {
            map.setCenter(markerLatLng);

            var offsetx = -1*getOffsetPixels();
            var offsety = 0
            var latlng = map.getCenter();
            // latlng is the apparent centre-point
            // offsetx is the distance you want that point to move to the right, in pixels
            // offsety is the distance you want that point to move upwards, in pixels
            // offset can be negative
            // offsetx and offsety are both optional

            var scale = Math.pow(2, map.getZoom());
            var worldCoordinateCenter = map.getProjection().fromLatLngToPoint(latlng);
            var pixelOffset = new google.maps.Point((offsetx/scale) || 0,(offsety/scale) ||0);
            var worldCoordinateNewCenter = new google.maps.Point(
                worldCoordinateCenter.x - pixelOffset.x,
                worldCoordinateCenter.y + pixelOffset.y
            );
            var newCenter = map.getProjection().fromPointToLatLng(worldCoordinateNewCenter);

            map.setCenter(newCenter);
        }

        function getOffsetPixels(){
            var screenWidth = $(window).width();
            var redBoxWidth = $('.ts-red-box').outerWidth();

            if (screenWidth >= 768) {
                var offsetPixels = (screenWidth/2) - ((screenWidth - redBoxWidth) / 2);
                return offsetPixels;
            }

            return 0;
        }

        function recenterMap(map, markerLatLng){
            var screenWidth = $(window).width();
            if (screenWidth >= 768) {
                google.maps.event.addListenerOnce(map, "projection_changed", function() {
                    offsetCenter(map, markerLatLng);
                });
            }else{
                map.panTo(markerLatLng);
            }
        }

        function initMap() {
            var clinicCoords = {lat: 42.644997, lng: 23.336812};
            var map = new google.maps.Map(document.getElementById(mapSelectorID), {
                zoom: 17,
                center: clinicCoords,
                disableDefaultUI: true,
                styles: [
                    {
                        "stylers": [
                            { "saturation": -100 }
                        ]
                    }
                ]
            });
            var icon = {
                path: "M-20,0a20,20 0 1,0 40,0a20,20 0 1,0 -40,0",
                fillColor: '#D90303',
                fillOpacity: 1,
                anchor: new google.maps.Point(0,0),
                strokeWeight: 0,
                scale: 0.5
            };
            var marker = new google.maps.Marker({
                position: clinicCoords,
                map: map,
                icon: icon,
            });

            if(isMobile.any){
                var directionsLink = 'https://www.google.com/maps/place/ulitsa+%22Professor+Kiril+Popov%22+53a,+1700+Studentski+Kompleks,+Sofia/@42.6449741,23.3340794,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa8410e99874f9:0x89ad88dc31d51288!8m2!3d42.6450094!4d23.3367319';

                // Append card when map renders
                google.maps.event.addListener(map, 'idle', function(e) {
                    // Prevents card from being added more than once (i.e. when page is resized and google maps re-renders)
                    if ( $( ".place-card" ).length === 0 ) {
                    $(".gm-style").append(
                        '<div class="directions-btn"> '+
                            '<div style="margin: 20px 7px; padding: 1px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; background-color: white;"> '+
                                '<div class="place-card place-card-large"> '+
                                    '<a class="navigate-link" href="' + directionsLink + '" target="_blank"> '+
                                        '<div class="icon navigate-icon"></div>'+
                                        '<div class="navigate-text"> Directions </div>'+
                                    '</a>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
                        );
                    }
                });
            }

            var markerLatLng = marker.getPosition();

            // google.maps.event.addListenerOnce(map, "projection_changed", function() {
            //     offsetCenter(map, markerLatLng);
            // });
            recenterMap(map, markerLatLng);

            $(window).resize(function(){
                recenterMap(map, markerLatLng);
            })
        }
    </script>
    <script async defer
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAm2CZ23QeMn4SN8V45nbKYTeqZkj_ity8&callback=initMap'>
    </script>
{% endblock %}
