{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Download Forms' %}{% endblock %}

{% block body_class %}template-download-forms{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box ts-red-box-download-forms col-sm-offset-6 col-sm-6 slide-right">
            <p class="ts-red-box-text">
                {% blocktrans %}
                <span class="text-semi-bold">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                {% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-6 col-sm-6 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box ts-text-box-50 slide-left">
            <div class="ts-text-box-inner">
                <h1 class="ts-text-box-title">
                    {% blocktrans %}
                    <span class="text-thin">Download</span><br>
                    <span class="text-light">Forms</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="df-left df-first slide-bottom-1">
    <p class="md-title slide-bottom-1">
        {% blocktrans %}
        Informed consent for <span class="text-normal">orthodontic treatment</span>
        {% endblocktrans %}
        {% blocktrans %}
    </p>
    <p class="df-text slide-bottom-1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. There are many variations of passages of Lorem Ipsum available.</p>
    {% endblocktrans %}
    <a class="sd-btn sd-btn__theme-1 sd-btn__lg slide-bottom-1" target="_blank" href="{% static '/pdf/pdf-sample.pdf' %}">Download</a>
</div>

<div class="df-right slide-bottom-2">
    <p class="md-title slide-bottom-2">
        {% blocktrans %}
        Informed consent for <span class="text-normal">orthodontic treatment</span>
        {% endblocktrans %}
        {% blocktrans %}
    </p>
    <p class="df-text slide-bottom-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. There are many variations of passages of Lorem Ipsum available.</p>
    {% endblocktrans %}
    <a class="sd-btn sd-btn__theme-1 sd-btn__lg slide-bottom-2" target="_blank" href="{% static '/pdf/pdf-sample.pdf' %}">Download</a>
</div>

<div class="df-left slide-bottom-3">
    <p class="md-title slide-bottom-3">
        {% blocktrans %}
        Informed consent for <span class="text-normal">orthodontic treatment</span>
        {% endblocktrans %}
        {% blocktrans %}
    </p>
    <p class="df-text slide-bottom-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. There are many variations of passages of Lorem Ipsum available.</p>
    {% endblocktrans %}
    <a class="sd-btn sd-btn__theme-1 sd-btn__lg slide-bottom-3" target="_blank" href="{% static '/pdf/pdf-sample.pdf' %}">Download</a>
</div>

{% endblock %}
