{% extends "base.html" %}
{% load i18n static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- <div style="min-height: 400px;" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/ts-cover.jpg' %}"></div> -->

<div class="container-fluid">
    <div class="top-section top-section-image-above-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                <h1 class="ts-red-box-title ts-red-box-title-big">
                    {% blocktrans %}<span class="text-thin">
                        We<br>create<br>
                    </span>
                    <span class="text-light">smiles</span>{% endblocktrans %}
                </h1>
                <p class="ts-red-box-text text-uppercase">{% trans 'With more then 25 years of experience in cosmetic dentistry' %}</p>
                <!-- <p class="ts-red-box-text">
                    {% blocktrans %}
                    <span class="text-semi-bold">Center For Smile Design is the leading</span> there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    {% endblocktrans %}
                </p> -->
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <!-- <div class="ts-bg"></div> -->
        <!-- <img class="ts-img slide-left" src="{% static 'img/ts-cover.jpg' %}" alt=""> -->
        <!-- <div class="ts-img-parallax parallax-window" data-position-x="0px" data-image-src="{% static 'img/Hero_Pic_4.jpg' %}"></div> -->
        <!-- <div id="scene"> -->
            <!-- <div data-depth="0.3" class="ts-parallax-box"> -->
                <img  class="ts-img-parallax slide-left" src="{% static 'img/Hero_Pic_4.jpg' %}"/>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>

<div class="container-fluid home-logo-section">
    <div class="row">
        <div class="col-sm-5 home-logo-section-left">
            <div class="home-logo-section-left-inner slide-bottom-1">
                {% include 'svgs/top-section-triangles.svg' with class="home-logo-section-left-inner-triangles-svg" fill="white" width="89%"  %}

                <div class="slide-home-logo-trace-shadow">
                {% include 'svgs/form.svg' with class="home-logo-trace-shadow svg-trace-before svg-trace-delay" stroke="#d7d7d6" fill="transparent" %}
                </div>

                <div class="slide-home-logo-trace">
                {% include 'svgs/form.svg' with class="home-logo-trace svg-trace-before" stroke="#D90303" fill="transparent" %}
                </div>
            </div>
        </div>
        <div class="col-sm-7 home-logo-section-right slide-bottom-2 "  >
            <div style="width: 100%;">
                <p class="home-logo-section-title">
                    {% blocktrans %}
                    Dental
                    <br>
                    <span class="text-normal">Services</span>
                    {% endblocktrans %}
                </p>
                <!-- <p class="home-logo-section-subtitle">
                    {% blocktrans %}
                    Lorem ipsum is a simle text used in the printing
                    {% endblocktrans %}
                </p> -->

                <p class="home-logo-section-text">
                    {% blocktrans %}
                    WE PROVIDE A WIDE RANGE OF DENTAL SERVICES INCLUDING:
                    {% endblocktrans %}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="home-bullet" href="{% url 'porcelain_veneers' %}">
                            {% blocktrans %}
                            <span class="text-extra-light">Porcelain</span> Veneers{% endblocktrans %}
                            {% include 'svgs/arrow.svg' with class="" height="10" width="30" %}
                        </a><br>
                        <a class="home-bullet" href="{% url 'dental_implants' %}">
                            {% blocktrans %}
                            <span class="text-extra-light">Dental</span> Implants{% endblocktrans %}
                            {% include 'svgs/arrow.svg' with class="" height="10" width="30" %}
                        </a>
                       
                    </div>
                    <div class="col-lg-6">
                        <a class="home-bullet" href="{% url 'teeth_whitening' %}">
                            {% blocktrans %}
                            <span class="text-extra-light">Teeth</span> Whitening{% endblocktrans %}
                            {% include 'svgs/arrow.svg' with class="" height="10" width="30" %}
                        </a><br>
                        <a class="home-bullet" href="{% url 'orthodontics' %}">
                            {% blocktrans %}
                            Orthodontics{% endblocktrans %}
                            {% include 'svgs/arrow.svg' with class="" height="10" width="30" %}
                        </a>
                    </div>
                </div>
            </div>
            
                
                
            
            
        </div>
    </div>
</div>

<div class="home-slider-section slide-bottom-3" id="home-slider-section">

    <div class="sd-slick-wrapper sd-slick-wrapper-home">
        <div class="sd-slick">
            <div class="sd-slick-slide">
                <img class="sd-slick-img" src="{% static 'img/doctors/Selar_Francis.jpg' %}" alt="">
                <div class="sd-slick-desc">
                    <p class="sd-slick-desc-title home-logo-section-subtitle">
                    {% blocktrans %}
                    <span class="text-thin">Dr. Selar</span> Francis
                    {% endblocktrans %}
                    </p>
                    <p class="sd-slick-desc-subtitle home-logo-section-subtitle">
                        {% trans 'DDS' %}, {% trans 'MSc' %}, {% trans 'FAGD' %}
                    </p>
                    <br/>
                    <!-- <p class="sd-slick-desc-text">
                    {% blocktrans %}
                        Leading there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    {% endblocktrans %}
                    </p> -->
                    <a class="sd-btn sd-btn__theme-1 sd-btn__lg sd-slick-home-btn" href="{% url 'doctor_francis' %}">
                        {% blocktrans %}
                        <span class="text-extra-light">Learn</span> More
                        {% endblocktrans %}
                    </a>
                </div>
            </div>
            <div class="sd-slick-slide">
                <img class="sd-slick-img" src="{% static 'img/doctors/Dano_Danov.jpg' %}" alt="">
                <div class="sd-slick-desc">
                    <p class="sd-slick-desc-title home-logo-section-subtitle">
                    {% blocktrans %}
                    <span class="text-thin">Dr. Dano</span> Danov
                    {% endblocktrans %}
                    </p>
                    <p class="sd-slick-desc-subtitle home-logo-section-subtitle">
                        {% trans 'DDS' %}, {% trans 'MSc' %}
                    </p>
                    <br/>
                    <!-- <p class="sd-slick-desc-text">
                    {% blocktrans %}
                        Leading there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    {% endblocktrans %}
                    </p> -->
                    <a class="sd-btn sd-btn__theme-1 sd-btn__lg sd-slick-home-btn" href="{% url 'doctor_danov' %}">
                        {% blocktrans %}
                        <span class="text-extra-light">Learn</span> More
                        {% endblocktrans %}
                    </a>
                </div>
            </div>
            <div class="sd-slick-slide">
                <img class="sd-slick-img" src="{% static 'img/doctors/Jenny_Kadreva.jpg' %}" alt="">
                <div class="sd-slick-desc">
                    <p class="sd-slick-desc-title home-logo-section-subtitle">
                    {% blocktrans %}
                    <span class="text-thin">Dr. Jenny</span> Kadreva
                    {% endblocktrans %}
                    </p>
                    <p class="sd-slick-desc-subtitle home-logo-section-subtitle">
                        {% trans 'DDS' %}
                    </p>
                    <br/>
                    <!-- <p class="sd-slick-desc-text">
                    {% blocktrans %}
                        Leading there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    {% endblocktrans %}
                    </p> -->
                    <a class="sd-btn sd-btn__theme-1 sd-btn__lg sd-slick-home-btn" href="{% url 'doctor_kadreva' %}">
                        {% blocktrans %}
                        <span class="text-extra-light">Learn</span> More
                        {% endblocktrans %}
                    </a>
                </div>
            </div>
            <div class="sd-slick-slide">
                <img class="sd-slick-img" src="{% static 'img/doctors/Magi_Nashar.jpg' %}" alt="">
                <div class="sd-slick-desc">
                    <p class="sd-slick-desc-title home-logo-section-subtitle">
                    {% blocktrans %}
                    <span class="text-thin">Dr. MAGI</span> NASHAR
                    {% endblocktrans %}
                    </p>
                    <p class="sd-slick-desc-subtitle home-logo-section-subtitle">
                        {% trans 'DDS' %}
                    </p>
                    <br/>
                    <!-- <p class="sd-slick-desc-text">
                    {% blocktrans %}
                        Leading there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    {% endblocktrans %}
                    </p> -->
                    <a class="sd-btn sd-btn__theme-1 sd-btn__lg sd-slick-home-btn" href="{% url 'doctor_nashar' %}">
                        {% blocktrans %}
                        <span class="text-extra-light">Learn</span> More
                        {% endblocktrans %}
                    </a>
                </div>
            </div>
            
        </div>

        <div class="sd-slick-buttons">
            <button class="sd-slick-prev sd-btn">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button class="sd-slick-next sd-btn">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script>
        (function() {
            'use strict';

            $('.sd-slick').slick({
                "fade": true,
                "swipe": false,
                "dots": true,
                "arrows": false,
                "autoplay": true,
                "autoplaySpeed": 4000,
                "pauseOnDotsHover": false,
                "pauseOnFocus": false,
                "pauseOnHover": false,
            });
        }());
        // var scene = document.getElementById('scene');
        // var parallaxInstance = new Parallax(scene, {
        //     relativeInput: false,
        // });
        // function adjustWoman(){
        //     var fullWidth = $('body').width();
        //     if(fullWidth>768){
        //         var redOffset = fullWidth*41.66666666667/100;
        //         var picOffset = -(1640-redOffset);
        //         var picOffsetString = picOffset.toString()+'px';
        //         $('.ts-img-parallax img').css('left', picOffsetString);
        //     }
        // }

        // adjustWoman();
        // $( window ).resize(function() {
        //     adjustWoman();
        // });
    </script>
{% endblock %}
