{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Dr. Dano Danov' %}{% endblock %}

{% block body_class %}template-doctors{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                <h1 class="ts-red-box-title">
                    <span class="text-thin">
                        {% trans 'DR. Dano' %}<br>
                    </span>
                    <span class="text-light">{% trans 'Danov' %}</span>
                </h1>
                <p class="ts-red-box-text">{% trans 'DDS' %}, {% trans 'MSc' %}</p>
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div class="ts-bg slide-right"></div>
        <img class="ts-img slide-left" src="{% static 'img/doctors/cover/danov.jpg' %}" alt="">
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="copy-center slide-bottom-2">
                <br><br><br><br><br><br>{% blocktrans %}Dr. Dano Danov Received dental education in the Faculty of Dentistry Sofia 1994.{% endblocktrans %}</p>
        
            <p class="copy-center slide-bottom-2">{% blocktrans %}From 1996 to 2010, attended training courses in the field of endodontics, aesthetic composite restorations and orthodontics in California, US. Three years postgrad program in Orthodontics "Full face philosophy", London UK, 2014.Currently student in MSc  program in Orthodontics- Danube University Austria.{% endblocktrans %}</p>

            <h4 class="copy-center  slide-bottom-3">{% blocktrans %}Major training courses: {% endblocktrans %}</h4>

            <ul class="copy-center doctor-text-list slide-bottom-4">
                <li class="">{% blocktrans %}Endo with pro taper ADA 2003{% endblocktrans %}</li>
                <li class="">{% blocktrans %}MasArt of anterior composite restoration ADA 2004{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Direct and Indirect composite for anterior restoration 2004-2005, Italy{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Challenges and Opportunities in Aesthetic Dentistry, NYU 2006{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Orthocaps Certification course, Berlin 2010{% endblocktrans %}</li>
            </ul>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>

{% endblock %}
