{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Dr. Dano Danov' %}{% endblock %}

{% block body_class %}template-doctors{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                <h1 class="ts-red-box-title">
                    <span class="text-thin">
                        {% trans 'DR. Magi' %}<br>
                    </span>
                    <span class="text-light">{% trans 'Nashar' %}</span>
                </h1>
                <p class="ts-red-box-text">{% trans 'DDS' %}</p>
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div class="ts-bg slide-right"></div>
        <img class="ts-img slide-left" src="{% static 'img/doctors/cover/nashar.jpg' %}" alt="">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p class="copy-center slide-bottom-2">
                <br><br><br><br><br><br>
                {% blocktrans %}Dr. Magi Nashar graduated Medical University of Sofia, Faculty of Dental Medicine in 2018. Currently a resident in a two year program in Centre for Smile Design.{% endblocktrans %}
                <br><br><br>
            </p>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>

{% endblock %}
