{% extends "base.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Dr. Selar Francis' %}{% endblock %}

{% block body_class %}template-doctors{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                <h1 class="ts-red-box-title">
                    
                    <span class="text-thin">
                        {% trans 'DR. SELAR' %}<br class="hidden-lg">
                    </span>
                    <span class="text-light">{% trans 'Francis' %}</span>
                </h1>
                <p class="ts-red-box-text">{% trans 'DDS' %}, {% trans 'MSc' %}, {% trans 'FAGD' %}</p>
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div class="ts-bg slide-right"></div>
        <img class="ts-img slide-left" src="{% static 'img/doctors/cover/francis.jpg' %}" alt="">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {% if LANGUAGE_CODE == 'bg' %}
            <p class="copy-center slide-bottom-2">
                <br><br><br><br><br><br>
                {% trans 'Д-р Франсис получава денталното си образувание в Денталния факултет на Университета в Багдат през 1988 г.' %}
                </p>
            <p class="copy-center slide-bottom-2">
                Получава докторска степен (DDS) и от Университета в Калифорния, Лос Анджелис през 1996 г., както и лиценз за практикуване в щата Калифорния същата година.
            </p>
            <p class="copy-center slide-bottom-2">
                Специализант е на Американската академия по дентална медицина през 2007 г.
            </p>
            <p class="copy-center slide-bottom-2">
                Получава и магистърска степен MSc по Дентална Естетика и Протетика от Kings College University London 2016.
            </p>
            <p class="copy-center slide-bottom-2">
                Клиничен инструктор е в Dawson Academy Europe, за естетика и оклузия.
            </p>
            {% else %}
            <p class="copy-center slide-bottom-2">
                <br><br><br><br><br><br>
                {% trans 'Dental Degree in 1988 from Dental School University of Baghdad.' %}
                </p>
                
            <p class="copy-center slide-bottom-2">
            {% blocktrans %}DDS degree from University of California Los Angelis and California Dental license in 1996.{% endblocktrans %}</p>

            <p class="copy-center slide-bottom-2">
                {% blocktrans %}Fellow of the American academy of General Dentistry (FAGD) 2007. MSc degree in Aesthetic dentistry and prosthodontics from Kings College University London 2016.{% endblocktrans %}</p>

            <p class="copy-center slide-bottom-2">
                {% blocktrans %}Private practice limited to Implantology, Aesthetic, and Occlusion in Sofia – Bulgaria.{% endblocktrans %}</p>

            <p class="copy-center slide-bottom-2">
                {% blocktrans %}Clinical instructor in The Dawson’s Academy UK.{% endblocktrans %}</p>

            {% endif %}
            <h4 class="copy-center slide-bottom-4">
                {% blocktrans %}Some of the Major attended courses: {% endblocktrans %}</h4>

            <ul class="copy-center doctor-text-list slide-bottom-4">
                <li class="">{% blocktrans %}Aestheric continuum 2000-UCLA;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Master program in Aesthetic Dentistry 2001 - Loma Linda University;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Implants A-Z 2002-UCLA;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Current concepts in Surgical implant dentistry 2002-UCLA;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Aesthetic Dentistry Residency 2003 - Aesthetic Professionals California;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Advanced fixed prosthodontics & Occlusion Residency 2004-Aesthetic Profesionals California;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Master program in Advanced Bone Grafting 2005 - California Implant Institute;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Fellowship degree of the American Academy of General Dentistry 2007-FAGD;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Master Course in Aesthetic Implant Dentistry 2008 - University of Bern;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Core curriculum training in Occlusion & Aesthetics 2010 - The Dawson’s Academy;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Advansed Training in Occlusion 2011 - The Dawson’s Academy;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Master program advanced surgical procedures in Periodontology and Implantology 2014-2015 Hurzeler/ Zuhr;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}MSc degree in Aesthetic Dentistry & Prosthodontics 2016- King’s College University London;{% endblocktrans %}</li>
            </ul>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>

{% endblock %}
