{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Dr. Jenny Kadreva' %}{% endblock %}

{% block body_class %}template-doctors{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-image-under-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <div>
                <h1 class="ts-red-box-title">
                    <span class="text-thin">
                        {% trans 'DR. Jenny' %}<br>
                    </span>
                    <span class="text-light">{% trans 'Kadreva' %}</span>
                </h1>
                <p class="ts-red-box-text">{% trans 'DDS' %}</p>
            </div>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>
        <div class="ts-bg slide-right"></div>
        <img class="ts-img slide-left" src="{% static 'img/doctors/cover/kadreva.jpg' %}" alt="">
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="copy-center slide-bottom-2"><br><br><br><br><br><br>{% blocktrans %}Dr. Jenny Kadreva received her dental education in Faculty of Dental Medicine - Sofia in 2013.{% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-2">{% blocktrans %}After her graduation she started two year training program in Centre for Smile Design.{% endblocktrans %}</p>

            <h4 class="copy-center  slide-bottom-3">{% blocktrans %}Courses: {% endblocktrans %}</h4>

            <ul class="copy-center doctor-text-list slide-bottom-4">
                <li class="">{% blocktrans %}Two-year residency program, Centre for Smile Design 2015;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Comprehensive aesthetic direct and indirect restorations, StyloItaliano Italy 2016;{% endblocktrans %}</li>
                <li class="">{% blocktrans %}Core curriculum residency program for Aesthetic and occlusion, Dawson academy UK 2017;{% endblocktrans %}</li>
            </ul>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>

{% endblock %}
