{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-advisor-index{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box ts-red-box-download-forms col-sm-offset-6 col-sm-6 slide-right">
            <p class="ts-red-box-text">
                {% blocktrans %}
                <span class="blog-redbox-header">It is a long established fact that a reader will be distracted by the readable content.</span>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                {% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-6 col-sm-6 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box ts-text-box-50 slide-left">
            <div class="ts-text-box-inner">
                <h1 class="ts-text-box-title">
                    {% blocktrans %}
                    <span class="text-thin">Our advices for</span><br>
                    <span class="text-light">Perfect Teeth</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- <h1>{{ page.translated_title }}</h1> -->
<div class="container">
{% for article in articles %}
    {% with article=article.specific %}

        {% if forloop.counter|divisibleby:"2" %} {# is even #}
        <div class="blog-list-item-left slide-bottom-{{forloop.counter}}">
        {% else %}
        <div class="blog-list-item-right {% if forloop.first %} blog-list-item-first{% endif %} slide-bottom-{{forloop.counter}}">
        {% endif %}

            <div class="blog-list-item-img-wrapper">
            {% if article.featured_image %}
                {% image article.featured_image fill-930x580 %}
            {% endif %}
            </div>

            <div class="blog-list-item-text-wrapper">
                <div>
                    <h2 class="blog-list-item-title slide-bottom-{{forloop.counter}}">
                        {{ article.translated_title }}
                    </h2>

                    <div class="blog-list-item-desc slide-bottom-{{forloop.counter}}">
                        {{ article.description|safe }}
                    </div>

                    <br>
                    <div class="slide-bottom-{{forloop.counter}}">
                        <a class="sd-btn sd-btn__blog sd-btn__lg" href="{% pageurl article %}">
                            {% blocktrans %}
                            <span class="text-extra-light">Read</span>
                            More
                            {% endblocktrans %}
                        </a>
                    </div>
                </div>
            </div>

        </div>

    {% endwith %}
{% endfor %}
</div>

{% endblock %}
