{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-advisor-article{% endblock %}

{% block content %}

    <a href="/" class="article-logo-anchor slide-right">
        {% include 'svgs/logo.svg' with class="article-logo" %}
    </a>

    {% include 'svgs/form-quarter.svg' with class="article-triangles slide-right" %}

    <h1 class="article-title slide-left">
        {{ page.translated_title }}
    </h1>

    <a class="article-back-btn slide-left" href="{{ page.get_parent.url }}">
        <span class="article-back-btn-text">{% trans 'Back' %}</span>
        <span class="article-back-btn-line"></span>
        <span class="article-back-btn-line"></span>
        <span class="article-back-btn-line"></span>
    </a>

    <div class="article-content">
        <p class="article-date meta slide-right">
            {{ page.date }}
        </p>

        {% if page.featured_image %}
        <div class="article-img-wrapper slide-right">
            {% image page.featured_image fill-600x354 %}
        </div>
        {% endif %}

        <div class="article-description slide-right">
            {{ page.description|richtext }}
        </div>

        <div class="article-richtext slide-right">
            {{ page.body|richtext }}
        </div>
    </div>

{% endblock %}
