.top-section{
    position: relative;
    overflow: hidden;
}

    .ts-img-parallax{
        z-index: $lvl-1;
        position: absolute;
        top: 0;
        height: 400px;
        left: -730px;

        @include sm-devices-up {
            height: calc(100% - 80px);
            left: calc(-1640px + 41.66666666667%);
        }

    }
    .ts-bg{
        z-index: $lvl-1;
        position: absolute;
        width: 100%;
        height: 400px;
        @include sm-devices-up {
            height: calc(100% - 80px);
        }
    }
    .ts-img{
        z-index: $lvl-1;
        position: absolute;
        top: 0;
        height: 400px;
        left: -270px;

        @include sm-devices-up {
            height: calc(100% - 80px);
            left: calc(50% + -620px);
        }
    }

    .ts-text-box,
    .ts-gray-box{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;

        @include sm-devices-up {
            height: calc(100% - 80px);
            right: initial;
        }
    }
    .ts-gray-box{
        background-color: $main-theme-2;

        @include sm-devices-down {
            height: 80%;
        }
        @include sm-devices-up {
            left: calc(35% - 237px);
            right: 0;
        }
    }
    .ts-text-box{
        z-index: $lvl-5;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-align: right;
        top: 200px;

        @include sm-devices-up {
            top: 0;
            left: 0;
            right: calc(65% - 15px);
        }
    }
    .ts-text-box-50{
        @include sm-devices-up {
            top: 0;
            left: 0;
            right: calc(50% + 60px);
        }
    }
        .ts-text-box-inner{
            position: relative;
            z-index: $lvl-5;
            width: 100%;
            padding-right: 15px;

            @include xsm-devices {
                padding-right: 35px;
            }
            @include sm-devices-up {
                padding-right: 0;
            }
        }
            .ts-text-box-subtitle{
                position: relative;
                z-index: $lvl-5;
                font-size: 16px;
                margin: 0;
            }
            .ts-text-box-title{
                position: relative;
                z-index: $lvl-5;
                color: $main-theme-1;
                font-size: 70px;
                margin: 0;
                line-height: 95%;
            }
                .ts-text-box-title-sm{
                    @include sm-devices {
                        font-size: 50px;
                    }
                    @include md-devices {
                        font-size: 70px;
                    }
                }

    .ts-red-box{
        display: flex;
        align-items: flex-end;
        z-index: $lvl-4;
        min-height: 750px;
        padding: 250px 90px 90px 90px;
        margin-top: 200px;
        color: $white;
        background-color: $main-theme-1;

        @include sm-devices-down {
            min-height: auto;
            padding: 40px 50px 40px 50px;
            margin-top: 300px;
            margin-left: 10%;
        }
        @include sm-devices-up {
            margin-top: 60px;
        }
        @include lg-devices {
            padding-right: 220px;
            min-height: 750px;
        }
        @include xl-devices {
            padding-right: 350px;
        }
    }
        .ts-red-box-title{
            text-transform: uppercase;
            line-height: 140%;

            .text-thin{
                font-size: 66px;
                @include lg-devices {
                    line-height: 75%;
                    font-size: 120px;
                }
            }
            .text-light{
                font-size: 80px;
                @include lg-devices {
                    line-height: 90%;
                    font-size: 120px;
                }
                
            }
        }
        .ts-red-box-text{
            font-weight: 200;
            font-size: 16px;
        }

    .ts-triangles{
        z-index: $lvl-4;
        position: absolute;
        top: 0;
        right: -1px;

        @include sm-devices-down {
            width: 100%;
        }
    }
        .ts-triangles-svg{
            position: absolute;
            top: 0;
            right: 0;
            height: auto;
            width: 100%;
            max-height: 460px;
            max-width: 440px;

            @include xsm-devices {
                max-height: 600px;
                max-width: 480px;
            }
            @include sm-devices-up {
            }
            @include md-devices {
                max-height: 600px;
                max-width: 530px;
            }
            @include lg-devices {
                max-height: 640px;
                max-width: 620px;
            }
        }
        .ts-logo{
            position: absolute;
            top: 20px;
            right: 15px;
            width: 100px;
            height: 100px;

            @include xsm-devices {
                top: 25px;
                right: 35px;
                width: 100px;
                height: 100px;
            }
            @include md-devices {
                top: 35px;
                right: 40px;
                width: 120px;
                height: 120px;
            }
            @include lg-devices {
                top: 45px;
                right: 50px;
                width: 140px;
                height: 140px;
            }
        }

    /* top section types */
    .top-section-image-above-type{
        .ts-bg{
            background-color: $wild-sand;
        }
    }
    .top-section-image-under-type{
        .ts-bg{
            // background-color: $mine-shaft;
            @include sm-devices-down {
                display: none;
            }
        }
        .ts-img{
            @include sm-devices-down {
                position: static;
                margin-top: -40px;
                margin-top: -10%;
                margin-right: 10%;
                width: 90%;
                height: auto;
            }
            @include sm-devices-up {
                position: absolute;
                left: 33%;
                margin-top: 0;
                margin-left: -460px;
            }
        }
        .ts-red-box{
            padding-top: 360px;
            min-height: 500px;
            margin-top: 0;

            @include sm-devices-down {
                min-height: auto;
                padding: 360px 35px 25px 35px;
            }
            @include sm-devices-up {
                margin-top: 60px;
            }
        }
    }

    .top-section-text-box-type{
        .ts-red-box{
            margin-top: 470px;

            @include xsm-devices {
                margin-top: 520px;
            }

            @include sm-devices-down {
                padding: 60px 50px;
            }
            @include sm-devices-up {
                margin-top: 60px;
                min-height: 600px;
            }
        }
    }


/* CUSTOM PAGES */

    /* Team page */
    .top-section.top-section-team{
        .ts-bg{
            background-color: transparent;
        }
        .ts-red-box{
            margin-top: 0px;
            padding-top: 290px;
            padding-bottom: 100px;

            @include sm-devices-up {
                margin-top: 800px;
                min-height: auto;
                padding: 110px 60px 40px 60px;
            }
        }
        .ts-team-slider-wrapper{
            margin-top: -40px;

            @include sm-devices-up {
                margin-top: 0;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
            }

            .slick-slide img{
                width: 100%;

                @include sm-devices-up {
                    // max-height: 800px;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }
            .ts-team-slider{
                width: 100%;
                &.clinic-fix{
                    width: 170%;
                    @include sm-devices-up {
                        width: 100%;
                    }
                }
            }
            .sd-team-ts-slick-arrows{
                position: absolute;
                z-index: $lvl-5;
                top: 470px;
                left: calc(10% + 35px);

                .sd-team-ts-slick-prev,
                .sd-team-ts-slick-next{
                    &:active{
                        color: $main-theme-2;
                    }

                    &:before,
                    &:after{
                        border-width: 1px;
                    }
                }

                .sd-team-ts-slick-prev{
                    margin-right: 25px;
                }


                @include sm-devices-up {
                    top: 380px;
                    left: calc(58% + 60px);
                }

            }

    }










