.chess-gallery{
    margin-top: 50px;
    margin-bottom: 50px;
}

    .chess-gallery-left,
    .chess-gallery-right{

    }
        .chess-gallery-img{
            width: 100%;
            display: inline-block;

            img{
                width: 100%;
            }

            @include sm-devices-up {
                display: inline-block;
                width: 49%;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .chess-gallery-text-wrap{
            @include sm-devices-up {
                display: inline-block;
                width: 49%;
                height: 100%;
            }
        }
            .chess-gallery-text,
            .chess-gallery-title{
                text-transform: uppercase;
                margin-left: 8%;
                margin-right: 8%;
                @include xsm-devices {
                    margin-left: 20%;
                    margin-right: 20%;
                }
                @include sm-devices-up {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .chess-gallery-title{
                color: $main-theme-1;
                font-weight: 500;
                margin-top: 20px;
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    background-color: $main-theme-1;
                    top: -60px;

                    width: 2px;
                    height: 60px;
                }

                @include sm-devices-up {
                    &:before{
                        top: 10px;
                        width: 80px;
                        height: 2px;
                    }
                }
            }
            .chess-gallery-text{
                @include sm-devices-down {
                    margin-bottom: 60px;
                }
            }



    .chess-gallery-left{
        .chess-gallery-img img{
            width: calc(100% + 15px - 8%);
            margin-right: 8%;
            margin-left: -15px;

            @include xsm-devices {
                width: calc(100% + 15px - 20%);
                margin-right: 20%;
                margin-left: -15px;
            }
            @include sm-devices-up {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .chess-gallery-text-wrap{
            @include sm-devices-up {
                padding-left: 40px;
            }
            @include md-devices {
                padding-left: 60px;
            }
        }
            .chess-gallery-title{
                text-align: left;

                &:before{
                    left: 20px;
                    @include sm-devices-up {
                        left: -90px;
                    }
                }
            }
            .chess-gallery-text{
                text-align: left;
            }
    }

    .chess-gallery-right{
        .chess-gallery-img img{
            width: calc(100% + 15px - 8%);
            margin-left: 8%;
            margin-right: -15px;

            @include xsm-devices {
                width: calc(100% + 15px - 20%);
                margin-left: 20%;
                margin-right: -15px;
            }
            @include sm-devices-up {
                width: 100%;
                margin-left: 100%;
                margin-right: 0;
            }
        }
        .chess-gallery-text-wrap{
            @include sm-devices-up {
                margin-left: -50%;
                padding-right: 40px;
            }
            @include md-devices {
                padding-right: 60px;
            }
        }
            .chess-gallery-title{
                text-align: right;


                &:before{
                    right: 15px;
                    @include sm-devices-up {
                        right: -90px;
                    }
                }
            }
            .chess-gallery-text{
                text-align: right;
            }
    }
