{% load i18n sd_tags %}

<ul>
    <li>
        <p class="footer-subtitle">
            {% trans 'Phones' %}:
        </p>
    </li>
    <li>
        <a class="footer-link footer-link-phone" href="tel:00359878559966">
        00 359 <span class="text-semi-bold"></span>878 55 99 66</span>
        </a>
    </li>
    <li>
        <a class="footer-link footer-link-phone" href="tel:00359877559966">
            00 359 <span class="text-semi-bold"></span>877 55 99 66</span>
        </a>
    </li>
    

    <li>
        <p class="footer-subtitle">
            {% trans 'Address' %}:
        </p>
    </li>
    <li>
        <p class="footer-link">
            <span class="text-semi-bold">{% trans '53A Professor Kiril Popov Str.,' %} </span>  <br> 
            {% trans 'Sofia 1700' %}
        </p>
    </li>
</ul>
