{% load i18n sd_tags %}

<ul>
    <li class="{% active_class_for_url 'porcelain_veneers' %}">
        <a class="footer-link" href="{% url 'porcelain_veneers' %}">{% trans 'Porcelain Veneers' %}</a>
    </li>
    <li class="{% active_class_for_url 'dental_implants' %}">
        <a class="footer-link" href="{% url 'dental_implants' %}">{% trans 'Dental Implants' %}</a>
    </li>
    <li class="{% active_class_for_url 'teeth_whitening' %}">
        <a class="footer-link" href="{% url 'teeth_whitening' %}">{% trans 'Teeth Whitening' %}</a>
    </li>
    <li class="{% active_class_for_url 'orthodontics' %}">
        <a class="footer-link" href="{% url 'orthodontics' %}">{% trans 'Orthodontics' %}</a>
    </li>
</ul>
