{% load i18n sd_tags %}

<div>
    <a class="sd-btn sd-btn__footer footer-social-link" target="_blank" href="https://www.facebook.com/">
        <span class="fa fa-facebook"></span>
    </a>
    <!-- <a class="sd-btn sd-btn__footer footer-social-link" target="_blank" href="https://www.instagram.com">
        <span class="fa fa-instagram"></span>
    </a> -->
</div>
