{% load i18n sd_tags %}

{% get_site_root as root_page %}
{% subpages_for_page root_page as sub_pages %}
<ul>
    <li>
        <a class="footer-link" href="/">{% trans 'Home' %}</a>
    </li>
    <li class="{% active_class_for_url 'doctors' %}">
        <a class="footer-link" href="/#home-slider-section">{% trans 'Doctors' %}</a>
    </li>
    <li class="{% active_class_for_url 'clinic_and_team' %}">
        <a class="footer-link" href="{% url 'clinic_and_team' %}">{% trans 'The Clinic' %}</a>
    </li>
    <!-- {% for sub_page in sub_pages %}
    <li class="{% active_class_for_page sub_page page %}">
        <a class="footer-link" href="{{ sub_page.url }}">{{ sub_page.dentaladvisorpage.translated_title|default:sub_page.title }}</a>
    </li>
    {% endfor %} -->
    <li class="{% active_class_for_url 'contacts' %}">
        <a class="footer-link" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a>
    </li>
</ul>
