{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <script type="text/javascript" src="{% static 'js/is-mobile.min.js' %}"></script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% elif self.translated_title %}
                    {{ self.translated_title }}
                {% else %}
                    {{ self.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>

        {# Global stylesheets #}
        {% if debug %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
        {% endif %}

        {% if not request.is_preview %}
            {# The page is not in preview mode #}
            {# Put google analytics, mixpanel, etc... here #}
        {% endif %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block navigation %}
        {% include 'partials/_navigation.html' %}
        {% endblock %}

        <div class="content">{% block content %}{% endblock %}</div>

        {% block footer %}
        {% include 'partials/_footer.html' %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
        <script src="https://unpkg.com/scrollreveal@3.3.5/dist/scrollreveal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

        <script id="developedby" data-client-id="d640d636-cbe0-493c-b51a-124becd2cd6d" src="https://hakomo.s3.eu-central-1.amazonaws.com/static/js/webdevelopmentbyhakomo.js"></script>
        <script src="{% static 'js/min/main.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
