{% load i18n %}

<footer class="main-footer">
    <div class="slide-bottom-footer">
        {% include 'svgs/form-quarter-inverted.svg' with class="footer-quarter slide-bottom-footer" %}
    </div>
    <div class="container" style="overflow: hidden;">
        <div class="row">
            <div class="col-sm-2 col-md-3 footer-col-mobile-spacing ">
                {% include 'svgs/logo.svg' with class="footer-logo" width="110px" height="110px" %}
            </div>
            <div class="footer-col col-xs-6 col-sm-3 col-md-2 footer-col-mobile-spacing ">
                <p class="footer-title">{% trans 'Menu' %}</p>
                {% include 'partials/footer/_menu.html' %}
            </div>
            <div class="footer-col col-xs-6 col-sm-3 col-md-2 ">
                <p class="footer-title">{% trans 'Dental Services' %}</p>
                {% include 'partials/footer/_dental_services_menu.html' %}
            </div>
            <div class="footer-col col-xs-12 col-sm-3 col-md-3 footer-col-mobile-spacing footer-col-contact ">
                <p class="footer-title">{% trans 'Contact Us' %}</p>
                {% include 'partials/footer/_contact_us.html' %}
            </div>

            <div class="footer-col col-xs-6 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-3 footer-col-mobile-spacing ">
                <p class="footer-title">{% trans 'Languages' %}</p>
                {% include 'partials/_language_selector.html' %}
            </div>
        </div>
    </div>
</footer>
<div class="footer-disclaimer">

    &copy;Copyright

    <script type="text/javascript">
        var startDate = 2017;
        var currentDate = new Date().getFullYear();

        document.write(startDate == currentDate? startDate: startDate + '-' + currentDate);
    </script>

     SmileDesign. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;<span class="hakomo-container"></span>
</div>
