{% load i18n %}

<button type="button" class="hamburger-toggle {{ class }}" data-active-txt="{% trans 'Close' %}" data-txt="{% trans 'Menu' %}">
    <!-- <span class="hamburger-toggle-text">{% trans 'Menu' %}</span> -->
    <span></span>
    <span class="hamburger-toggle-line"></span>
    <span class="hamburger-toggle-line"></span>
    <span class="hamburger-toggle-line"></span>
</button>
