{% load i18n %}

{% get_language_info_list for LANGUAGES as languages %}
<div class="language-selector">
  <form action="{% url "set_language" %}" method="post" class="language-selector-form">{% csrf_token %}
      <input type="hidden" name="next" value="">
      <select name="language" class="form-control">
        {% for language in languages %}
        <option value="{{ language.code }}"
        {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
        {{ language.name_local }}
        </option>
        {% endfor %}
      </select>
    <input type="submit" class="btn btn-default" value="{% trans "Change" %}" />
  </form>
  <div class="language-selector-picker">
    {% for language in languages %}
    {% if request.resolver_match.url_name == 'wagtail_serve' %}
    <button type="button" class="picker-language {% if language.code == LANGUAGE_CODE %}active{% endif %}" data-language="{{ language.code }}" data-url="">{{ language.code|upper }}</button>
    {% else %}
    {% language language.code %}
    <button type="button" class="picker-language {% if language.code == LANGUAGE_CODE %}active{% endif %}" data-language="{{ language.code }}" data-url="{% url request.resolver_match.url_name %}">{{ language.code|upper }}</button>
    {% endlanguage %}
    {% endif %}
    {% endfor %}
  </div>
</div>
