{% load i18n sd_tags %}
<div class="navigation-open-overlay"></div>
<span class="hamburger-toggle-text slide-left" data-active-txt="{% trans 'Close' %}" data-txt="{% trans 'Menu' %}">{% trans 'Menu' %}</span>

<nav class="navigation">
    {% include 'partials/_hamburger-toggle.html' %}
    {% get_site_root as root_page %}
    {% subpages_for_page root_page as sub_pages %}
    <ul class="navigation-list">
        <li class="navigation-list-item {% active_class_for_page root_page page %}"><a href="/">{% trans 'Home' %}</a></li>
        <li class="navigation-list-item {% active_class_for_url 'cosmetic_dentistry' %} {% active_class_for_url 'porcelain_veneers' %} {% active_class_for_url 'dental_implants' %} {% active_class_for_url 'restorative_dentistry' %} {% active_class_for_url 'teeth_whitening' %} {% active_class_for_url 'orthodontics' %}">
            <a href="#" class="navigation-list-item-text">{% trans 'Dental Services' %}</a>
            <ul class="navigation-list">
                <!-- <li class="navigation-list-item {% active_class_for_url 'cosmetic_dentistry' %}">
                    <a href="{% url 'cosmetic_dentistry' %}">{% trans 'Cosmetic Dentistry' %}</a>
                </li> -->
                <li class="navigation-list-item {% active_class_for_url 'porcelain_veneers' %}">
                    <a href="{% url 'porcelain_veneers' %}">{% trans 'Porcelain Veneers' %}</a>
                </li>
                <li class="navigation-list-item {% active_class_for_url 'dental_implants' %}">
                    <a href="{% url 'dental_implants' %}">{% trans 'Dental Implants' %}</a>
                </li>
                <!-- <li class="navigation-list-item {% active_class_for_url 'restorative_dentistry' %}">
                    <a href="{% url 'restorative_dentistry' %}">{% trans 'Restorative Dentistry' %}</a>
                </li> -->
                <li class="navigation-list-item {% active_class_for_url 'teeth_whitening' %}">
                    <a href="{% url 'teeth_whitening' %}">{% trans 'Teeth Whitening' %}</a>
                </li>
                <li class="navigation-list-item {% active_class_for_url 'orthodontics' %}">
                    <a href="{% url 'orthodontics' %}">{% trans 'Orthodontics' %}</a>
                </li>
            </ul>
        </li>
        <li class="navigation-list-item {% active_class_for_url 'doctor_francis' %} {% active_class_for_url 'doctor_kadreva' %} {% active_class_for_url 'doctor_danov' %} {% active_class_for_url 'doctor_4' %}">
            <a href="#" class="navigation-list-item-text">{% trans 'Doctors' %}</a>
            <ul class="navigation-list">
                <li class="navigation-list-item {% active_class_for_url 'doctor_francis' %}">
                    <a href="{% url 'doctor_francis' %}">{% trans 'Dr. Selar Francis' %}</a>
                </li>
                <li class="navigation-list-item {% active_class_for_url 'doctor_danov' %}">
                    <a href="{% url 'doctor_danov' %}">{% trans 'Dr. Dano Danov' %}</a>
                </li>
                <li class="navigation-list-item {% active_class_for_url 'doctor_kadreva' %}">
                    <a href="{% url 'doctor_kadreva' %}">{% trans 'Dr. Jenny Kadreva' %}</a>
                </li>
                <li class="navigation-list-item {% active_class_for_url 'doctor_nashar' %}">
                    <a href="{% url 'doctor_nashar' %}">{% trans 'Dr. Magi Nashar' %}</a>
                </li>
               
                <!-- <li class="navigation-list-item {% active_class_for_url 'doctor_4' %}">
                    <a href="{% url 'doctor_4' %}">{% trans 'Doctor 4' %}</a>
                </li> -->
            </ul>
        </li>
        <li class="navigation-list-item {% active_class_for_url 'clinic_and_team' %}">
            <a href="{% url 'clinic_and_team' %}">{% trans 'The Clinic' %}</a>
        </li>
        {% for sub_page in sub_pages %}
        <!-- <li class="navigation-list-item {% active_class_for_page sub_page page %}">
            <a href="{{ sub_page.url }}">{{ sub_page.dentaladvisorpage.translated_title|default:sub_page.title }}</a>
        </li> -->
        {% endfor %}
        <!-- <li class="navigation-list-item {% active_class_for_url 'download_forms' %}">
            <a href="{% url 'download_forms' %}">{% trans 'Download Forms' %}</a>
        </li> -->
        <li class="navigation-list-item {% active_class_for_url 'contacts' %}">
            <a href="{% url 'contacts' %}">{% trans 'Contacts' %}</a>
        </li>
        <li class="navigation-list-item">{% include 'partials/_language_selector.html' %}</li>
    </ul>
</nav>
