.template-advisor-article{
    overflow-x: hidden;
}

.article-logo-anchor{
    display: block;
}
    .article-logo{
        position: absolute;
        top: 20px;
        right: 15px;
        width: 100px;
        height: 100px;

        @include xsm-devices {
            top: 25px;
            right: 35px;
            width: 100px;
            height: 100px;
        }
        @include md-devices {
            top: 35px;
            right: 40px;
            width: 120px;
            height: 120px;
        }
        @include lg-devices {
            top: 45px;
            right: 50px;
            width: 130px;
            height: 130px;
        }
    }

.article-triangles{
    position: absolute;
    width: 110vw;
    height: 116vw;
    top: 15vw;
    right: 0;

    @include xsm-devices {
        width: 110vw;
        height: 116vw;
        top: -10vw;
    }
    @include sm-devices-up {
        width: 85vw;
        height: 95vw;
        top: -15vw;
    }
    @include lg-devices {
        width: 905px;
        height: 1025px;
        top: -180px;
    }
}

.article-title{
    font-weight: 300;
    // text-align: right;
    color: $alto;
    text-transform: uppercase;

    font-size: 54px;
    margin-left: 110px;
    margin-right: 5%;
    margin-top: 210px;
    margin-bottom: 90px;

    @include xsm-devices {
        margin-top: 200px;
        font-size: 80px;
    }
    @include sm-devices-up {
        margin-left: 15%;
        margin-right: 20%;
    }
}


.article-content{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @include sm-devices-down {
        padding: 0 35px;
    }
}
    .article-date{
        display: none;
        color: $alto;
        margin-bottom: 2px;
    }

    .article-back-btn{
        position: fixed;
        z-index: $lvl-7;
        top: 220px;
        left: 20px;
        margin-top: 10px;
        padding: 0;
        width: 40px;
        height: 40px;
        transform: rotate(0deg);
        cursor: pointer;
        background: none;
        border: 0;

        &:focus {
            outline: none;
        }

        &::before {
            content: "";
            background: $main-theme-2;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -20px;
            width: 100%;
        }

        .article-back-btn-line {
            display: block;
            position: absolute;
            height: 3px;
            background: $main-theme-1;

            margin-bottom: 9px;
            left: 0;
            transform: rotate(0deg);
            transform-origin: 0%;
            transition: .25s ease-in-out;

            &:nth-child(2) {
                width: 60%;
                transform: rotate(-45deg);
                top: 20px;
                left: -2px;
            }

            &:nth-child(3) {
                width: 75%;
                top: 19px;
                left: 1px;
            }

            &:nth-child(4) {
                width: 60%;
                transform: rotate(45deg);
                top: 18px;
                left: -2px;
            }
        }

        &.hover {
            .article-back-btn-line {
                &:nth-child(2) {
                    // transform: rotate(-40deg);
                    left: -7px;
                }

                &:nth-child(3) {
                    left: -4px;
                }

                &:nth-child(4) {
                    // transform: rotate(40deg);
                    left: -7px;
                }
            }
        }

        .article-back-btn-text{
            position: absolute;
            left: 100%;
            text-transform: uppercase;
            color: $alto;
            font-weight: 300;
            padding-top: 10px;
            margin-left: -2px;

            @include sm-devices-up {
                margin-left: 0;
                padding-left: 8px;
            }
        }
    }

    .article-img-wrapper{

        @include sm-devices-down {
            margin-left: -35px;
        }

        img{
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .article-description{
        margin-top: 100px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    .article-description,
    .article-richtext{
        // margin-top: 30px;

        @include sm-devices-up {
            padding-left: 40px;
            padding-right: 40px;
        }
    }






