$blog-side: calc(35% - 237px);
$blog-side-plus-padding: calc(35% - 237px + 7%);

.template-advisor-index{
    .main-footer{
        z-index: 0;
    }

    .ts-text-box-title{
        @include sm-devices-down {
            font-size: 66px;
        }
    }
}

.blog-redbox-header{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    display: block;
}

@include sm-devices-down {
    .blog-list-item-first{
        position: relative;
        z-index: $lvl-2;
        margin-top: -35px;
    }
}

.blog-list-item-left,
.blog-list-item-right{
    margin-bottom: 90px;
    position: relative;
    z-index: $lvl-2;

    @include sm-devices-up {
        display: flex;
        margin-bottom: 0;
    }
}
.blog-list-item-left{

    .blog-list-item-text-wrapper{
        text-align: right;
    }
    .blog-list-item-img-wrapper{
        margin-left: 15px;
        margin-right: -15px;
    }

    @include sm-devices-up {
        flex-direction: row-reverse;

        .blog-list-item-img-wrapper{
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.blog-list-item-right{
    .blog-list-item-img-wrapper{
        margin-left: -15px;
        margin-right: 15px;
    }
    @include sm-devices-up {
        .blog-list-item-img-wrapper{
            margin-left: 0;
            margin-right: 0;
        }
    }
}

    .blog-list-item-img-wrapper{
        @include sm-devices-up {
            display: inline-block;
            width: 50%;
        }

        img{
            width: 100%;
            height: auto;
        }

    }

    .blog-list-item-text-wrapper{
        padding-left: 15px;
        padding-right: 15px;

        @include sm-devices-up {
            display: inline-block;
            width: 49%;
            display: flex;
            align-items: center;

            padding-left: 5%;
            padding-right: 5%;
        }
        @include md-devices {
            padding-left: 90px;
            padding-right: 90px;
        }

        & > div{
            width: 100%;
        }
    }
        .blog-list-item-title{
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 30px;


            // @include sm-devices {
            //     @include giveMeEllipsis(2, 1.1em);
            //     margin-top: 0;
            // }
            @include sm-devices-up {
                @include giveMeEllipsis(2, 1.1em);
                margin-top: 0;
            }
            @include md-devices {
                // @include giveMeEllipsis(3, 1.1em);
            }
            // @include lg-devices {
            //     @include giveMeEllipsis(4, 1.1em);
            // }
        }
        .blog-list-item-desc{
            font-weight: 300;
            // @include sm-devices {
            //     @include giveMeEllipsis(3, 1.1em);
            // }
            @include sm-devices-up {
                @include giveMeEllipsis(3, 1.1em);
            }
            @include md-devices {
                // @include giveMeEllipsis(5, 1.1em);
            }
            @include lg-devices {
                // @include giveMeEllipsis(7, 1.1em);
            }
        }














