.sd-btn{
    background-color: transparent;
    border: none;
    color: $main-theme-2;
    padding: 7px 10px;
    margin: 5px;
    position: relative;
    text-transform: uppercase;

    &:before,
    &:after{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 2px;
        transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out;
    }
    &:before{
        top: -5px;
        bottom: -5px;
        left: 0;
        right: 0;
    }
    &:after{
        top: 0;
        bottom: 0;
        left: -5px;
        right: -5px;
    }
    &:hover{
        text-decoration: none;
        // color: inherit;
    }
    &.hover{
        text-decoration: none;

        &:before{
            top: 0;
            bottom: 0;
            left: -5px;
            right: -5px;
        }
        &:after{
            top: -5px;
            bottom: -5px;
            left: 0;
            right: 0;
        }
    }
    &:active{
        color: $main-theme-1;

        &:before,
        &:after{
            // color: $main-theme-2;
        }
    }
    &:focus{
        outline: none;
        text-decoration: none;
    }
}

.sd-btn__theme-1{
    &,
    &:focus,
    &:visited{
        color: $main-theme-1;
    }

    &:before,
    &:after{
        border-color: $main-theme-1;
    }
    &.hover{
        color: $main-theme-1;
        border-color: $main-theme-1;
    }
}

.sd-btn__theme-2{
    &,
    &:focus,
    &:visited{
        color: $main-theme-2;
    }

    &:before,
    &:after{
        border-color: $main-theme-2;
    }
    &.hover{
        border-color: $main-theme-1;
    }
}

.sd-btn__blog{
    &,
    &:focus,
    &:visited{
        color: $main-theme-1;
    }

    &:before,
    &:after{
        border-color: $main-theme-2;
    }
    &.hover{
        border-color: $main-theme-2;
    }
}

.sd-btn__footer{
    &,
    &:focus,
    &:visited{
        color: $main-theme-1;
    }

    &:before,
    &:after{
        border-color: $white;
    }
    &.hover{
        border-color: $main-theme-1;
    }
}

.sd-btn__lg{
    padding: 10px 40px;
}

.sd-test-only{
    padding: 0;
}