.template-doctors{
    .ts-red-box-title{
        margin-left: -4px;

        .text-thin{
            font-size: 80px;
        }
        .text-light{
            // font-size: 66px;
        }
    }
}


.doctor-text-left,
.doctor-text-right,
.doctor-text-title{
    font-weight: 300;

    p{
        margin-bottom: 15px;
    }

    @include sm-devices-down {
        margin-left: 20%;
        margin-right: 20%;
    }
    @include xsm-devices-down {
        margin-left: 8%;
        margin-right: 8%;
    }
}

.doctor-text-left{
    text-align: left;

    @include sm-devices-up {
        padding-left: 0;
    }
}

.doctor-text-right {
    text-align: right;

    @include sm-devices-up {
        padding-right: 0;
    }
}

.doctor-text-title{
    font-size: 22px;
    font-weight: 200;
    margin-top: 60px;

    @include sm-devices-down {
        margin-bottom: 30px;
    }
}

p.doctor-text-list-title{
    color: $main-theme-1;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;

    @include sm-devices-down {
        margin-top: 70px;
    }
}

.doctor-text-list {
    list-style-type: none;
    margin-bottom: 70px;

    li{
        margin-bottom: 8px;
        &:before {
            content: "- ";

        }
    }
}
