$df-side: calc(35% - 237px);
$df-side-plus-padding: calc(35% - 237px + 7%);

@include sm-devices-down {
    .df-first{
        position: relative;
        z-index: $lvl-2;
        margin-top: -35px;
    }
    .ts-red-box-download-forms{
        position: relative;
        z-index: $lvl-1;
    }
}

.df-left,
.df-right{
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;

    @include sm-devices-up {
        padding-left: $df-side-plus-padding;
        padding-right: $df-side-plus-padding;
    }

    &:before{
        content: '';
        position: absolute;
        background-color: $main-theme-2;
        z-index: $lvl-neg-1;
    }

}
.df-left{
    padding-right: 15%;

    @include sm-devices-up {
        padding-right: $df-side-plus-padding;
    }

    &:before{
        top: 0;
        bottom: 0;
        right: 10%;
        left: 0;

        @include sm-devices-up {
            right: 50%;
            left: $df-side;
        }
    }
}

.df-right{
    text-align: right;
    padding-left: 15%;

    @include sm-devices-up {
        padding-left: $df-side-plus-padding;
    }

    &:before{
        display: none;
        top: 0;
        bottom: 0;
        left: 10%;
        right: 0;

        @include sm-devices-up {
            display: block;
            left: 50%;
            right: $df-side;
        }
    }
}

.df-text{
    margin-bottom: 70px;
}
