@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-BlackCondensed.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-ExtraBoldCondensed.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-BoldCondensed.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-SemiBoldCondensed.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-MediumCondensed.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-RegularCondensed.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-LightCondensed.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-ExtraLightCondensed.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-condensed';
    src: url('fonts/exo-2/Exo2-ThinCondensed.otf');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-BlackExpanded.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-ExtraBoldExpanded.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-BoldExpanded.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-SemiBoldExpanded.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-MediumExpanded.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-RegularExpanded.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-LightExpanded.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-ExtraLightExpanded.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo2-expanded';
    src: url('fonts/exo-2/Exo2-ThinExpanded.otf');
    font-weight: 100;
    font-style: normal;
}
