/*------------------------------------*\
    #Footer
\*------------------------------------*/

.main-footer {
    background: $main-theme-2;
    padding: 60px 0 60px 0;
    position: relative;
    z-index: $lvl-neg-1;
    margin-top: 100px;

    @include sm-devices-up {
        padding: 60px 0 60px 0;
    }

    .picker-language {
        border-width: 2px;
    }
}

.footer-col{
    @include sm-devices-down {
        margin-bottom: 35px;
    }
}

.footer-logo {
    max-width: 100%;
    margin-bottom: 50px;
}

.footer-quarter{
    position: absolute;
    right: 0;
    top: -15vw;
    width: 61vw;
    height: 64vw;
    

    @include sm-devices-up {
        top: -20vw;
        width: 42vw;
        height: 44vw;
    }
}

.footer-link{
    display: block;
    margin-bottom: 5px;

    &:hover{
        text-decoration: none;
    }
    &,
    &.hover,
    &:visited{
        color: $scorpion;
        text-decoration: none;
    }

    &.hover{
        font-weight: 600;
    }
}

    .footer-link-phone{
        &.hover{
            color: $scorpion;
        }
    }

.footer-title{
    color: $main-theme-1;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

.footer-subtitle{
    margin-bottom: 5px;
    color: $shady-lady;
    color: $gray-nickel;
    font-weight: 200;

}

.footer-social-link{
    display: inline-block;
    margin-right: 20px;

    &,
    &:before,
    &:after{
        border-width: 1px;
    }
}

.footer-col-mobile-spacing{
    @include sm-devices-down {
        padding-left: 13%;
    }
}

.footer-col-contact{
    @include sm-devices-up {
        padding-left: 40px;
    }
}

.footer-disclaimer{
    text-align: center;
    padding: 30px 15px;
    color: $shady-lady;
    font-weight: 300;
    font-size: 12px;
}
