/*------------------------------------*\
    #Global styles (tag styles, bootstrap overrides...)
\*------------------------------------*/

html,
body {
    font-family: exo2-condensed;
}

body {
    position: relative;
    z-index: $lvl-neg-2;
}
.content{
    overflow-y: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Font weight utility classes
.text-black {
    font-weight: 900;
}

.text-extra-bold {
    font-weight: 800;
}

.text-bold {
    font-weight: 700;
}

.text-semi-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-normal {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-extra-light {
    font-weight: 200;
}

.text-thin {
    font-weight: 100;
}

// Middle title
.md-title{
    font-size: 32px;
    font-weight: 200;
    line-height: 120%;
    text-transform: uppercase;
}


// Copy classes
.sd-copy{
    font-weight: 200;
}

.copy-center-theme-title,
.copy-center-title,
.copy-center{
    margin-left: 8%;
    margin-right: 8%;
    @include xsm-devices {
        margin-left: 20%;
        margin-right: 20%;
    }
    @include sm-devices-up {
        margin-left: 23%;
        margin-right: 23%;
    }
    @include md-devices {
        margin-left: 26%;
        margin-right: 26%;
    }
}
.copy-center-theme-title{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    color: $main-theme-1;
}
.copy-center-title{
    font-weight: 600;
    margin-bottom: 20px;
}
.copy-center{
    margin-bottom: 20px;
}

// Self-drawing svg animation
.svg-trace-before {
    stroke-dasharray: 217;
    stroke-dashoffset: 217;
}
.svg-trace-animation {
    animation: dash 1s linear forwards;
}
.svg-trace-delay {
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

// Scroll Reveal animation
.slide-left,
.slide-right,
.slide-bottom, {
    visibility: hidden;
}

h4{
    font-size: 22px;
    text-transform: uppercase;
    color: $monza;
    font-weight: normal;
    margin-top: 40px;
}

h3{
    font-size: 60px;
    text-transform: uppercase;
    color: $monza;
    font-weight: 100;
    margin-top: 60px;

    text-align: center;
}