/*------------------------------------*\
    #Hamburger toggle
\*------------------------------------*/

.hamburger-toggle {
    position: absolute;
    top: 0;
    left: 20px;
    margin-top: 10px;
    padding: 0;
    width: 40px;
    height: 40px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: none;
    border: 0;

    &:focus {
        outline: none;
    }

    &::before {
        content: "";
        transition: inherit;
        background: $main-theme-1;
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -20px;
        width: 100%;
    }

    &.active {
        &::before {
            background: $white;
        }

        .hamburger-toggle-line {
            &:nth-child(2) {
                transform: rotate(45deg);
                top: 19px;
                left: 0px;
            }

            &:nth-child(3) {
                // width: 0%;
                // transform: scale(0, 1);
                opacity: 0;
                transform: rotate(-45deg);
                top: 19px;
                left: 0px;
            }

            &:nth-child(4) {
                transform: rotate(-45deg);
                top: 19px;
                left: 0px;
            }
        }

        &.hover {
            .hamburger-toggle-line {
                &:nth-child(2) {
                    transform: rotate(35deg);
                    left: 0px;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    transform: rotate(-35deg);
                    left: 0px;
                }
            }
        }

    }

    .hamburger-toggle-line {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $quill-gray;

        margin-bottom: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            top: 5px;
            transform-origin: center center;
        }

        &:nth-child(3) {
            top: 18px;
            transform-origin: center center;
        }

        &:nth-child(4) {
            top: 32px;
            transform-origin: center center;
        }

    }

    &.hover {
        .hamburger-toggle-line {
            &:nth-child(2) {
                left: -5px;
            }

            &:nth-child(3) {
                left: 5px;
            }

            &:nth-child(4) {
                left: -2px;
            }
        }
    }

}

.hamburger-toggle-text {
    position: absolute;
    z-index: $lvl-9;
    left: 69px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 200;

    &.active{
        color: $white;
    }
}
