.template-homepage{
    .ts-red-box{
        @include sm-devices-down {
            padding-bottom: 60px;
        }
    }
    .hamburger-toggle-text{
        z-index: $lvl-13;
    }
    .navigation-open-overlay{
        z-index: $lvl-11;
    }
    .navigation{
        z-index: $lvl-12;
    }
    .main-footer{
        z-index: $lvl-10;
        margin-top: 0;
    }

    .sd-slick-desc-title{
        line-height: 1.1;
    }

    .sd-slick-desc-text{
        @include sm-devices {
            @include giveMeEllipsis(3, 1.4em);
        }
    }
}

.home-slider-section{
    @include sm-devices-up {
        //height: 48.8vw;
    }
}


.home-logo-section{
    .row{
        @include sm-devices-up {
            .home-logo-section-left,
            .home-logo-section-right{
                height: 80vw;
            }
        }
        @include md-devices {
            .home-logo-section-left,
            .home-logo-section-right{
                height: 58vw;
            }
        }
        @include lg-devices {
            .home-logo-section-left,
            .home-logo-section-right{
                height: 40vw;
            }
        }
        @include sm-devices-up {
            // display: flex;
            // flex-wrap: wrap;

            // &>[class*='col-'] {
            //     display: flex;
            //     flex-direction: column;
            // }
        }
    }
}

    .home-logo-section-left{
        margin-top: -40px;
        padding-left: 0;
        padding-right: 10%;

        @include xsm-devices {
            padding-right: 25%;
        }
        @include sm-devices-up {
            margin-top: 0;
            padding-left: 5%;
            padding-right: 0;
        }

        .slide-home-logo-trace,
        .slide-home-logo-trace-shadow{
            // opacity: 0;
        }

        .home-logo-trace,
        .home-logo-trace-shadow{
            stroke-dasharray: 217;
            stroke-dashoffset: 217;

            width: 65vw;
            height: 65vw;
            max-width: 300px;
            max-height: 300px;

            g{
                stroke-width: 0.7px;
            }

            @include sm-devices-up {
                width: 220px;
                height: 220px;
            }
            @include md-devices {
                width: 280px;
                height: 280px;
            }
        }
        .home-logo-trace{
            z-index: $lvl-1;
        }
        .home-logo-trace-shadow{
            position: absolute;
            left: 5%;
            top: calc(50% - 90px);

            @include sm-devices-up {
                left: calc(50% - 5%);
                top: calc(50% - 80px);
            }
            @include md-devices {
                top: calc(50% - 110px);
            }
        }
    }
        .home-logo-section-left-inner{
            background-color: $main-theme-2;
            position: relative;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: left;

            padding-top: 80px;
            padding-bottom: 150px;
            padding-left: 20px;
            z-index: $lvl-5;

            @include sm-devices-up {
                justify-content: center;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                z-index: auto;
            }
        }
            .home-logo-section-left-inner-triangles-svg{
                position: absolute;
                bottom: -2px;
                left: -2px;
                transform: rotate(180deg);
                height: auto;
                max-height: 90%;
                width: 90%;
            }

    .home-logo-section-right{
        margin-top: -85px;
        margin-bottom: 90px;
        z-index: $lvl-6;
        padding: 0px 13% 0px 13%;

        @include sm-devices-up {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            padding: 80px 90px 120px 90px;
        }
        @include md-devices {
            padding-right: 140px;
        }
        @include md-devices {
            padding-right: 170px;
        }
    }
        .home-logo-section-title{
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 100;
            line-height: 100%;
        }
        .home-logo-section-subtitle{
            color: $main-theme-1;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 300;
        }
        .home-logo-section-text{
            font-weight: 200;
            margin-bottom: 60px;
        }
        a.home-bullet{
            &:hover{
                color: $monza;
            }
        }
        .home-bullet{
            font-size: 24px;
            color: $monza;
            margin-bottom: 20px;
            display: inline-block;
        }