/*------------------------------------*\
    #Language selector
\*------------------------------------*/


.language-selector {
}
    .language-selector-form {
        display: none;
    }

    // .no-js .language-selector-form {
    //     display: block;
    // }

    .language-selector-picker {
        border: 1px solid $white;
        display: inline-block;
        padding: 0px 3px;
        margin-top: 5px;
    }

        .picker-language {
            padding: 10px 8px;
            border: 1px solid transparent;
            border-radius: 0;
            background: transparent;
            color: $white;
            margin-top: -7px;
            margin-bottom: -7px;

            &.hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            // &.hover,
            &:focus,
            &.active {
                color: $main-theme-1;
                border: 1px solid $white;
            }
        }
