/*------------------------------------*\
    #Navigation
\*------------------------------------*/
.navigation-open-overlay{
    z-index: $lvl-7;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0.5;
}

.navigation {
    padding: 80px 0px;
    position: fixed;
    height: 100%;
    width: 0;
    z-index: $lvl-8;
    transition: .5s linear;
    background: transparent;
    font-family: exo2-condensed;

    & > .navigation-list {
        display: none;
        opacity: 0;
        left: 40px;
        position: relative;
        transition: inherit;

        & > a{
            &:focus,
            &:active,
            &.hover{
                text-decoration: none;
            }
        }
    }

    &.open {
        width: auto;
        padding: 80px 70px;
        background: $main-theme-1;

        & > .navigation-list {
            position: relative;
            left: 0;
            opacity: 1;
        }
    }

    &.opened{
        overflow-y: auto;
    }

    .language-selector {
        margin-top: 50px;
        text-align: right;
        margin-right: -30px;
    }
        .language-selector-picker{
            font-size: 14px;
            border-width: 1px;

            .picker-language{
                border-width: 1px!important;

                &:focus,
                &.active{
                    color: $white;
                }
            }
        }
}



    .navigation-list {
    }

        .navigation-list-item {
            text-transform: uppercase;
            color: $white;
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 0.11px;

            a {
                color: inherit;

                &:hover{
                    text-decoration: none;
                }
                &:focus,
                &:active,
                &.hover{
                    text-decoration: none;
                    font-weight: 300;
                    letter-spacing: 0.0px;
                }
            }

            .navigation-list{
                display: none;
            }

            &.active{
                font-weight: 300;

                .navigation-list{
                    display: block;
                }
            }

            &.active ,
            & > .navigation-list-item-text.active{
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    left: -35px;
                    top: 15px;
                    height: 3px;
                    width: 25px;
                    background-color: $main-theme-2;
                }
            }
            .navigation-list {
                padding: 13px 0px;
                position: relative;
                margin-left: -5px;

                &:before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    background-color: $white;
                    top: 0;
                    bottom: 0;
                    left: 5px;
                }

                .navigation-list-item {
                    text-transform: capitalize;
                    font-size: 16px;
                    position: relative;
                    margin-bottom: 0;
                    padding: 8px 20px 8px 25px;

                    a{
                        position: relative;
                        z-index: $lvl-10;
                    }

                    &.active{
                        border: 1px solid $white;
                    }

                    &.active:before{
                        display: none;
                    }
                }
            }
        }
