.sd-slick-wrapper {
  position: relative;
  margin-bottom: 80px;
}
.sd-slick-title {
  color: $main-theme-1;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
  z-index: $lvl-3;
  position: relative;
  margin-bottom: -35px;

  padding-left: 8%;
  @include xsm-devices {
    padding-left: 20%;
  }
  @include sm-devices-up {
    padding-left: 12%;
  }
}
.sd-slick {
}
.sd-slick-slide {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: $lvl-neg-1;
    top: 40px;
    left: 0;
    height: 55vw;
    width: 30%;
    background-color: $main-theme-1;
  }

  @include xsm-devices {
    &:before {
      height: 58vw;
      width: 35%;
    }
  }
  @include sm-devices-up {
    padding-bottom: 40px;
    padding-left: 40px;
    &:before {
      height: 58vw;
      width: 20%;
    }
  }
}
.sd-slick-img {
  width: 100%;
  display: inline-block !important;
  margin-bottom: 25vw;

  @include sm-devices-up {
    width: 49%;
    margin-bottom: 0;
  }
}
.sd-slick-desc {
  display: inline-block;
  @include sm-devices-up {
    vertical-align: middle;
    width: 49%;
  }
}
.sd-slick-desc-subtitle,
.sd-slick-desc-title {
  color: $main-theme-1;
}

.sd-slick-desc-title,
.sd-slick-desc-subtitle,
.sd-slick-desc-text {
  text-align: right;
  margin-left: calc(8% + 15px);
  margin-right: calc(8% + 15px);
  @include xsm-devices {
    margin-left: calc(20% + 15px);
    margin-right: calc(20% + 15px);
  }
  @include sm-devices-up {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }
  @include md-devices {
    margin-left: 10%;
    margin-right: 30%;
  }
}

.sd-slick-buttons {
  position: absolute;
  top: 77vw;
  right: 50px;
  width: 130px;
  font-size: 20px;

  @include sm-devices-up {
    top: 36vw;
    right: initial;
    left: calc(50% + 60px);
  }
  @include md-devices {
    top: 28vw;
  }
}

.sd-slick-prev {
  margin-right: 15px;
}
.sd-slick-next {
  margin-left: 15px;
}

.slick-dots {
}

.slick-dots {
  //  display: none;
  position: absolute;
  z-index: $lvl-3;
  border: 2px solid $main-theme-2;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: calc(1em - 1px);
    background-color: $main-theme-2;
    height: 2px;
    width: 10vw;
  }

  li {
    display: inline-block;
    color: $main-theme-2;
    font-size: 16px;
    padding: 0 3px;
    margin: -8px 0;
    transition: 0.2s ease-in-out;

    button {
      background-color: transparent;
      border: 2px solid transparent;
      padding: 9px 14px;
      transition: 0.2s ease-in-out;

      &:focus {
        outline: none;
      }
    }

    &.slick-active {
      color: $main-theme-1;

      button {
        border: 2px solid $main-theme-2;
      }
    }
  }

  @include sm-devices-up {
    display: block;
    top: 2vw;
    left: calc(50% + 60px);
  }
}

// home slider
.sd-slick-wrapper-home {
  margin-bottom: 0;

  .sd-slick-slide {
    padding: 0;
    text-align: right;

    &:before {
      display: none;
    }
  }

  .sd-slick-buttons {
    display: none;
  }
  .sd-slick-img {
    width: 100%;
    display: inline-block !important;
    margin-bottom: 30px;
    z-index: $lvl-neg-2;
    position: relative;
    @include sm-devices-down {
      margin-left: 15%;
      width: 85%;
    }

    @include sm-devices-up {
      width: 58.33333333%;
      margin-right: -100%;
      margin-bottom: 0;
    }
  }
  .sd-slick-desc {
    display: inline-block;
    text-align: right;
    margin-bottom: 50px;

    @include sm-devices-up {
      margin-bottom: 0;
      vertical-align: middle;
      width: 41.26666667%;
      margin-right: 58.33333333%;
    }
    @include lg-devices {
      width: 41.46666667%;
    }
  }
  .sd-slick-desc-title {
    color: $mine-shaft;
    font-size: 36px;

    @include sm-devices {
      margin-top: 35px;
      font-size: 30px;
    }
    @include sm-devices-up {
      font-size: 38px;
    }
  }
  .sd-slick-desc-title,
  .sd-slick-desc-subtitle,
  .sd-slick-desc-text,
  .sd-slick-home-btn {
    text-align: right;
    margin-left: 11%;
    margin-right: 10%;
  }
  .sd-slick-home-btn {
    display: inline-block;
    margin-top: 20px;
  }

  .slick-dots {
    @include sm-devices-down {
      display: block;
      bottom: calc(100% - 50vw);
      left: 14px;
      text-align: center;

      &:before {
        display: none;
      }

      li {
        display: block;
        padding: 0 4px;
        margin: 4px -12px;

        button {
          padding: 7px 17px;
        }

        &.slick-active {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: calc(100% - 5px);
            top: calc(1em + 4px);
            background-color: $main-theme-2;
            height: 2px;
            width: 10vw;
          }
        }
      }
    }
    @include sm-devices-up {
      left: auto;
      right: calc(60% + 60px);
      top: 2vw;

      &:before {
        right: auto;
        left: 100%;
      }
    }
    @include md-devices {
      top: 4vw;
    }
  }
}

// team slider
.sd-slick-wrapper-team {
  position: relative;
  margin-bottom: 90px;

  .sd-slick-title {
    line-height: 100%;
    margin-bottom: 30px;
    color: $black;
    padding-left: calc(14% + 15px);
  }
  .sd-slick-slide {
    padding: 0;

    .sd-slick-img {
      margin-bottom: 0;
      @include sm-devices-down {
        margin-left: 15%;
        width: 85%;
      }
    }

    &:before {
      display: none;
    }
  }
  .sd-slick-buttons {
    top: auto;
    bottom: -70px;
  }

  //   .slick-dots {
  //     bottom: calc(100% - 50vw);
  //     left: 14px;
  //     text-align: center;
  //   }
  .slick-dots {
    @include sm-devices-down {
      display: block;
      bottom: calc(100% - 60vw);
      left: 14px;
      text-align: center;

      &:before {
        display: none;
      }

      li {
        display: block;
        padding: 0 4px;
        margin: 4px -12px;

        button {
          padding: 7px 17px;
        }

        &.slick-active {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: calc(100% - 5px);
            top: calc(1em + 4px);
            background-color: $main-theme-2;
            height: 2px;
            width: 10vw;
          }
        }
      }
    }
    @include sm-devices-up {
      top: 4vw;
      display: block !important;
      left: calc(58% + 60px);

      &:before {
        left: auto;
        right: 100%;
      }
    }
    @include md-devices {
      top: 10vw;
    }
  }

  @include sm-devices-up {
    margin-bottom: 0;

    .sd-slick-title {
      position: absolute;
      left: calc(58% + 60px);
      top: calc(50% - 0.5em);
      padding: 0;
      margin-bottom: 0;
      font-size: 50px;
    }
    .sd-slick-img {
      width: 58.3%;
    }
    .sd-slick-buttons {
      left: calc(58% + 60px);
      top: auto;
      bottom: 30px;
    }
  }
}
