.template-clinic-and-team{
    // .ts-logo{
    //     @include sm-devices-up {
    //         transform: scale(0.9);
    //         right: 15px;
    //     }
    //     @include md-devices {
    //         right: 25px;
    //     }
    // }
    .main-footer{
        z-index: $lvl-10;
        margin-top: 0;
    }
}

.sd-team-first-paragraph,
.sd-team-last-paragraph{
    text-align: right;
    padding: 40px 10% 40px 10%;

    @include xsm-devices {
        padding: 40px 14% 40px 14%;
    }

    @include sm-devices-up {
        padding: 40px 40px 40px 30%;
    }
}

.sd-team-first-paragraph{
    @include sm-devices-up {
        margin-top: -170px;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 170px;
    }
}
