/*------------------------------------*\
    #Colors
\*------------------------------------*/

$white: #fff;
$seashell: #f1f1f1;
$wild-sand: #f6f6f6;
$hint-of-red: #f9f7f7;
$gallery: #efeded;
$mystic: #e5ecf0;
$mercury: #E6E5E5;
$quill-gray: #d7d7d6;
$alto: #d2d0d0;
$gray-nickel: #c8c8c7;
$shady-lady: #a9a7a8;
$scorpion: #5f5e5e;
$dove-gray: #707070;
$black: #333;
$mine-shaft: #080808;
$monza: #D90303;


$main-theme-1: $monza;
$main-theme-2: $mystic;

/*------------------------------------*\
    #Other
\*------------------------------------*/


/*------------------------------------*\
    #Z-index levels
\*------------------------------------*/

$lvl-neg-2: -200;
$lvl-neg-1: -100;
$lvl-1: 100;
$lvl-2: 200;
$lvl-3: 300;
$lvl-4: 400;
$lvl-5: 500;
$lvl-6: 600;
$lvl-7: 700;
$lvl-8: 800;
$lvl-9: 900;
$lvl-10: 1000;
$lvl-11: 1100;
$lvl-12: 1200;
$lvl-13: 1300;
$lvl-14: 1400;

// Breakpoints
$xxsm-breakpoint: 320px;
$xsm-breakpoint: 480px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
$xl-breakpoint: 1500px;

// Extras
$screen: unquote('only screen');
$portrait: unquote('(orientation : portrait)');
$landscape: unquote('(orientation : landscape)');
