{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Cosmetic Dentistry' %}{% endblock %}

{% block body_class %}template-cosmetic-dentistry{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                {% blocktrans %}
                <span class="text-semi-bold">It is natural to desire a smile that leaves a pleasing impression.It is the clinician’s task to balance the patient’s esthetic needs with functional</span> requirements, while maintaining the individual characteristics unique to each patient.
                {% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    {% blocktrans %}
                    <span class="text-extra-light">Dental</span>
                    <span class="text-normal">Services</span>
                    {% endblocktrans %}
                </p>
                <h1 class="ts-text-box-title">
                    {% blocktrans %}
                    <span class="text-thin">Cosmetic</span><br>
                    <span class="text-light">Dentistry</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="copy-center slide-bottom-1">
                {% blocktrans %}
                Dr. Francis and Dr. Danov has been at the forefront of cosmetic dentistry for the last 20 years. While there are numerous procedures to choose from when pursuing an optimum smile, great care must be considered in designing a treatment plan. Our approach to cosmetic dentistry is more comprehensive than most, providing you with not only a great esthetic result, but one that will be functional, comfortable, and long lasting.
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-2">
                {% blocktrans %}
                Dr. Francis expertise in solving complex bite problems, combined with his knowledge of the latest techniques and materials in the field of cosmetic dentistry, is the perfect combination. While we aim to deliver you the most beautiful smile, our goal is to give you a healthier and more balanced smile. We believe that form follows function and that a properly balance smile will naturally deliver a smile that is aesthetically very pleasing.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                We employ the latest technology and techniques to give you a dental experience that is second to none. We use the newest and best tooth-like materials for durable and natural looking results.
                {% endblocktrans %}
            </p>

            <div class="chess-gallery">
                <div class="chess-gallery-left slide-bottom-4">
                    <div class="chess-gallery-img">
                        <img src="{% static 'img/ts-cover.jpg' %}" alt="">
                    </div>
                    <div class="chess-gallery-text-wrap">
                        <p class="chess-gallery-title">{% blocktrans %}Lorem ipsum is a simple dummy text Lorem ipsum is a simple dummy text{% endblocktrans %}</p>
                        <p class="chess-gallery-text">{% blocktrans %}There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="chess-gallery-right slide-bottom-5">
                    <div class="chess-gallery-img">
                        <img src="{% static 'img/ts-cover.jpg' %}" alt="">
                    </div>
                    <div class="chess-gallery-text-wrap">
                        <p class="chess-gallery-title">{% blocktrans %}Lorem ipsum is a simple dummy text{% endblocktrans %}</p>
                        <p class="chess-gallery-text">{% blocktrans %}There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>

            <p class="copy-center slide-bottom-6">
                {% blocktrans %}
                Improving your smile with cosmetic dentistry can be a simple as teeth whitening or may require more intensive procedures like porcelain veneers or dental implants. Our team will carefully listen to your wants and needs, evaluate your unique situation, and design a custom plan that will create the smile of your dreams, along with a stable, comfortable, healthy, and long lasting result. Our goal is to achieve the best results with the least amount of Dentistry to be done.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>

{% endblock %}
