{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Dental Implants' %}{% endblock %}

{% block body_class %}template-dental-implants{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                <span class="text-semi-bold">
                    {% trans 'Dental implants are a secure, natural-looking option to replace missing teeth.' %}
                </span>
                 {% trans 'Many patients prefer implants to other prosthetics because they look and feel like natural teeth. Dental implants can renew your appearance, rejuvenate your oral health, and return your ability to eat, laugh, and smile with confidence. ' %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    <p class="ts-text-box-subtitle">
                        <span class="text-extra-light">{% trans 'Dental' %}</span>
                        <span class="text-normal">{% trans 'Services' %}</span>
                    </p>
                </p>
                <h1 class="ts-text-box-title">
                    <h1 class="ts-text-box-title">
                        <span class="text-thin">{% trans 'Dental' context 'tooth' %}</span><br>
                        <span class="text-light">{% trans 'Implants' %}</span>
                    </h1>
                </h1>
            </div>
        </div>
    </div>
    </div>

<br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <p class="copy-center slide-bottom-2">
                {% blocktrans %}
                As an experienced implantologist, Dr. Francis restores smiles and lives with custom dental implants.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                What is a dental implant?
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                A dental implant is a titanium post that mimics a tooth root. One implant is placed in your jaw for each missing tooth, or a few to secure a denture, partial, or bridge. Your jaw-bone integrates with the titanium to create a strong foundation for a dental crown or prosthetic. Dental implants restore dental structure to make faces appear fuller and more youthful. They also prevent bone deterioration caused by missing teeth.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Are implants right for me?
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Adequate jawbone structure is required for implants. Dr. Francis will perform a comprehensive examination and use the <span class="text-semi-bold">latest digital technology</span>, utilising the <span class="text-semi-bold">Cone Beam Computerized Tomography (CBCT)</span> which allows us to see your jaw bones three dimensionally. It will provide a guide for the safe placement of your implants.
He’ll also evaluate your health history to assess your candidacy. If you qualify for dental implants, Dr. Francis will explain the implant procedure and answer your questions. Your concerns are important to us, and our entire team will work closely with you to make your experience a success.
                {% endblocktrans %}
            </p>

            <h4 class="copy-center slide-bottom-4">{% blocktrans %}The Implant Process{% endblocktrans %}</h4>
            
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                For most patients, dental implant placement involves two procedures:
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                First the implants are surgically placed into your jawbone to serve as tooth root substitutes and provide stable anchors for prosthetic teeth. Takes about three to six months for the implants to integrate with the jaw-bones.
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Once your jaw fuses with the dental implants, Dr. Francis will begin making your new teeth. He’ll take a dental impression and attach the abutment which is an attachment to the implants to secure your crowns or prosthetic, the abutment can be either prefabricated or a custom specially designed for your case either made from titanium or zirconium depends on each case.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>



{% endblock %}
    
    