{% extends "base.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Orthodontics' %}{% endblock %}

{% block body_class %}template-orthodontics{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                {% blocktrans %}
                Orthodontics is a part of dentistry concerning the proper development of  jaws,   arrangement of the teeth  and the removal the harmful habits such as mouth breathing , improper swallowing, tongue thrusting or thumb sucking. 
                {% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    <span class="text-extra-light">{% trans 'Dental' %}</span>
                    <span class="text-normal">{% trans 'Services' %}</span>
                </p>
                <h1 class="ts-text-box-title ts-text-box-title-sm">
                    <span class="text-light">{% trans 'Orthodontics' %}</span>
                </h1>
            </div>
        </div>
    </div>
 
</div>

<br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {% if LANGUAGE_CODE == 'bg' %}
            <p class="copy-center slide-bottom-4">
                Ортодонта е част от денталната медицина, касаеща правилното развитие на челюстите, подреждането на зъбите в зъбните редици и отстраняването и вредните навици като дишане през устата, неправилно гълтане, смучене на езика, смучене на пръст. 
        </p>
        
        <h4 class="copy-center slide-bottom-4">Нашата философия е:</h4>
            <p class="copy-center slide-bottom-4"><b>
            - Миофункционална ортодонтия<br>
            - Ранно ортодонтско развитие на зъбните дъги. Безекстрактционно лечение/без вадене на зъби.<br>
            - Подобряване на лицевата естетика<br>
            - Здрава темпромандибуларна става<br>
            - Минимум време за фиксирана техника /брекети/<br>
            </b>
        </p>

        <p class="copy-center slide-bottom-4">
            Периода от 3-6 год. възраст – много важен етап от развитието на детето. Вашият дентален лекар се интересува много повече от редица фактори освен детските зъби: това включва позиция и симетрия на челюстите, бъдещо развитие, разтояния между зъбите, дишане и други навици , които в период от време биха могли да доведат до неправилно развитие на челюстите и лицето. Два от най-важните фактори на които трябва да се обърне внимание са дишането през устата и времето на лечение/таиминг/. Устното дишане, хъркането, скърцането със зъби са от съществено значение за диагнозата и последващата терапия, ролята на родитела при които е много важна. При устно дишане, спане с отворена уста езикът е в  неправилна позиция вследствие на което горната челюст, и подът на носа не се развиват нормално. Важна роля в диагностиката на този проблем е лекаря уши нос гърло, който би могъл да установи причината за усното дишане, която в по-голям процент от случаите се касае за аденоид/ трета сливица/ или комбинация от аденоид и тонзили /сливици/. Погрешно е схващането, че след определена възраст третата сливица търпи обратно развитие /намалява/ и усното дишане се нормализира. Това е така, но това се случва когато развитието на челюстите на детето е вече почти завършило и е твърде късно, за адекватно лечение. 
            Тук идва време да обърнем внимание на другия важен фактор – таимингът /времето/, през което ще започнем една или друга терапия. Лечението в ранна възраст е много успешна и може да елиминира нуждата от бъдещо ортопедично или ортодонско лечение. Колкото по–рано лекуваме, толкова повече  лицето се адаптира към нашето лечение, колкото по–късно толкова повече  механика ни е необходима. Американската асоциация по ортодонтия препоръчва всички деца не по–късно от седем годишна възраст, трябва да бъде прегледан от ортодонт. 
        </p>   
            
        <p class="copy-center slide-bottom-4">
            <b>Развитието на лицето:</b><br>
        </p>
        <p class="copy-center slide-bottom-4">
            <b>60%</b> от лицево–челюстното развитие е завършило на осем годишна възраст<br>
            <b>90%</b> е завършило на дванадесет годишна възраст. Затова се нуждаем от ранна терапия.
         </p>
        <p class="copy-center slide-bottom-4">
            <b>Проблемите които трябва да се наблюдават при подрастващите са:</b>
            - Неправилна позиция на фронталните горни и долни зъби<br>
            - Кръстосана захапка на задните зъби<br>
            - Кръстосана захапка на предните зъби<br>
            - Отворена захапка <br>
            - Дълбока захапка<br>
            - Разстояния между зъбите<br>
            - Силно издадени горни зъби<br>
            - Вредни навици<br>
            </p>
            <p class="copy-center slide-bottom-4">
            Никой не би искал криви зъби и смешно изглеждаща усмивка. При децата това е времето за започване на лечение, когато сте млади вашите зъби, челюсти и дъвкателни мускули са в период на разтеж и е по лесно те да бъдат корегирани. Ващата усмивка , профил и зъбите ви остават здрави. Ренгеновите снимки показват вашата глава, лицеви кости и всички зъби, които са ни необходими за анализ, измервания и вашия план на лечение. Необходими са отпечатъци от вашите зъби и фотоснимки.
            Използваме снемаеми и неснемаени апарати за лечение в тази възраст. В повечето случаи в този етап лечението е успешно, което елиминира нуждата от последваща ортодонтия.
            </p>
            <p class="copy-center slide-bottom-4">
            Втората фаза на лечението фаза на усилен разтеж (6 – 12 г.) ние използваме подвижни и неподвижни функционални апарати за постигането на максимален резултат.
            </p>
            <p class="copy-center slide-bottom-4">
            Трета фаза - ортодонтска когато всички постоянни зъби са поникнали ние предлагаме лечение с метални и естетични брекети.
            </p>
            
            <h4 class="copy-center slide-bottom-4">Инвизалайн</h4>
            <p class="copy-center slide-bottom-4">
            Клиниката работи с Инвизалайн - серия прозрачни шини изработени да изправят вашите зъби.Доктор Данов е сертифициран лекар по дентална медицина , който работи със системата. При определени показания, отпечатъци от вашите зъби, фото и ренгенови снимки, Инвизалайн е отлично средство за изправяне на вашите зъби. Възможност за лечение при тинейджъри и възрастни.
            </p>

            <h4 class="copy-center slide-bottom-4">Ортодонтия за възрастни</h4>
            <p class="copy-center slide-bottom-4">
            Както децата така и възрастните, могат да бъдат лекувани ортодонтски. Всеки възрастен в добро урално здраве, здрави зъби, зъбодържащ апарат/пародонт /и костна структура е кандидат за ортодонтско лечение. 30% от нашите пациента са възрастни. Основно лечението при възрастните е с брекети,прозрачнишини/алайнери/ и в редки случаи ортодонтски апарати. Клиниката предлага няколко варианта за лечение с брекети.
            </p>
            <p class="copy-center slide-bottom-4">
            - Метални брекети /стандартни/<br>
            - Метални самолегиращи се брекети /Damon, Carera, Smart clip/<br>
            - Естетични брекети<br>
            - Естетични самолегиращи се брекети<br>
            </p>

            <p class="copy-center slide-bottom-4">
            Ортодонтското лечение с брекети се разви значително през последните години. Днешните системи брекети предлагат значителен конфорт и безболезненост при съответната терапия. Високотехнологичните материали, и добрите техники намаляват дисконфорта и съкращават периода на лечение.<br>
            <b>Damon</b> системата е не само нов продукт но и нов начин за лечение на нашите пациенти. Конвекционалния начин на лечение често изисква отстраняване на здрави зъби за осигуряване на място, това е свързано с дисконфорт, недобър профил и тесни зъбни дъги. Damon системата използва слаби биологични сили, създаващи добър резултат и красиви усмивки. Damon елиминира нуждата от ластици или метални лигатури, осигурява бързо лечение, намалява посещенията, създава добър конфорт и качествен резултат. 
            </p>
            {% else %}
            <p class="copy-center slide-bottom-2">
                Children development age 3-6 years is a very important stage of the development of the face and dental arches. Children’s teeth, jaw positioning, jaws symmetry, tooth spacing, breathing, and other bad habits that may lead to misalignment of the jaws and face are also monitored. Parents role is extremely important in observing and detecting regular mouth breathing and snoring. When the child is sleeping with open mouth, the tongue is in a wrong position as a result the upper arch does not develop normally, it becomes narrow the upper teeth go forward, this will lead to under development of the floor of the nose as well as the lower jaw. 
                <br>
                The ENT specialist plays an important role in detecting the causes of the mouth berating and snoring. The most common cause are enlarged adenoids, or a combination of enlarged adenoids and tonsils. And although the adenoids and tonsil decrease in size after a certain age, this happens when the children's jaw development is almost finished, and it will be too late for adequate treatment. Treatment at an early age is very successful and can eliminate the need for future orthodontic treatment. 
                <br>
                The American Orthodontic Association recommends that all children should be examined by orthodontists before the age of seven. Since 60% of the maxillofacial development is finished at the age of eight, and 90% by the age of twelve, therefore orthodontic therapy should start as early as possible.
            </p>
            <p class="copy-center-title slide-bottom-3">
                First phase:
            </p>
            <p class="copy-center slide-bottom-4">
                The first stage of orthodontic treatment includes clearing the airways and eliminating bad habits such as tongue or thumb sucking.
            </p>
            <p class="copy-center-title slide-bottom-3">
                Second phase:
            </p>
            <p class="copy-center slide-bottom-4">
                The second phase of orthodontic treatment if needed will start during the phase of intensive growth (Age 6-12) with the use removable or fixed functional appliances to achieve maximum results.
            </p>
            <p class="copy-center-title slide-bottom-3">
                Third phase:
            </p>
            <p class="copy-center slide-bottom-4">
                The third phase orthodontic treatment if needed starts when all the permanent teeth have emerged, and is performed with fixed metallic or aesthetic braces.
            </p>
            <h4 class="copy-center slide-bottom-4">
                Orthodontics for adults</h4>
            <p class="copy-center slide-bottom-4">
                When performing orthodontic treatment on adults beside the fixed braces in some cases when indicated the treatment is performed with a series of transparent aligners <span class="text-semi-bold">(Invisaline)</span> designed to straighten the teeth.
                <br>
                The orthodontic analysis is started by taking an imprints of the patients upper and lower teeth, a series of photo shots, as well as X-Rays of the face and jaws.
                <br>
                Dr. Danov will use this data to analyse the teeth, bite, jaws and facial bones growth. The analysis results as well as the most adequate treatment plan will be suggested and carefully explained by Dr. Danov.
            </p>
            <h4 class="copy-center slide-bottom-4">
                Our philosophy
            </h4>

            <p class="copy-center slide-bottom-4">
                <span class="text-semi-bold">
                    - Early orthodontic development of the dental arches. <br>
                    - Non-extraction treatment (without teeth removal) <br>
                    - Improving facial aesthetics <br>
                    - Healthy teeth and joints  <br>
                    - Minimum time for fixed treatment with braces.<br>
                </span>
                
            </p>
            {% endif %}
            </div></div></div>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                      <h3>{% trans 'Cases' %}:</h3>
            <div class="chess-gallery">
                <div class="chess-gallery-left slide-bottom-4">
                    <div class="chess-gallery-img">
                        <img src="{% static 'img/cases/ortho-case-1/Before.jpg' %}" alt="">
                    </div>
                    <div class="chess-gallery-text-wrap">
                        <p class="chess-gallery-title">{% blocktrans %}Before{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="chess-gallery-right slide-bottom-5">
                    <div class="chess-gallery-img">
                        <img src="{% static 'img/cases/ortho-case-1/After.jpg' %}" alt="">
                    </div>
                    <div class="chess-gallery-text-wrap">
                        <p class="chess-gallery-title">{% blocktrans %}After{% endblocktrans %}</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>



{% endblock %}