{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Porcelain Veneers' %}{% endblock %}

{% block body_class %}template-porcelain-veneers{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                <span class="text-semi-bold">{% trans 'What are porcelain veneers?' %}</span> 
                    {% trans 'Porcelain veneers are thin shells of ceramic that cover teeth to close gaps and eliminate imperfections. If you have stained, chipped, or misshapen teeth and want a completely custom solution to rejuvenate your smile, porcelain veneers may be right for you.' %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    <span class="text-extra-light">{% trans 'Dental' %}</span>
                    <span class="text-normal">{% trans 'Services' %}</span>
                </p>
                <h1 class="ts-text-box-title">
                    <span class="text-thin">{% trans 'Porcelain' %}</span><br>
                    <span class="text-light">{% trans 'Veneers' %}</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            
            <p class="copy-center-title slide-bottom-1">
                {% blocktrans %}
                Do veneers look like natural teeth?
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-2">
                {% blocktrans %}
                Absolutely! Veneers are made of fine dental porcelain that reflects light like natural tooth enamel, so they look and feel completely natural. In fact, porcelain veneers are virtually undetectable – no one will know you have them, but they will notice your stunning smile! Their resemblance to natural teeth is unsurpassed by other restorative options.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                How durable are porcelain veneers?
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                With proper care, porcelain veneers can brighten your smile for well over a decade. They’re highly resistant to stains from food, beverages, and tobacco, so your smile will stay beautiful. Dr. Francis will talk with you about your options for veneers. They come in many qualities and styles, including minimal or no preparation varieties that work well in some cases.
                {% endblocktrans %}
            </p>
            <h4 class="copy-center slide-bottom-4">
                {% blocktrans %}
                The Porcelain Veneers Procedure
                {% endblocktrans %}</h4>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Porcelain veneers require three visits to design, create, and place. Here’s what you can expect:
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Diagnosis and treatment planning:
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Dr. Francis will examine and analyse your smile, face and bite. He’ll go over the details of the procedure and help you plan your new look. After which our experienced dental technicians will create a prototype of your new smile, which you will be able to see and discuss before any work is done on your teeth. Thus we eliminate any kind of unpredictable results and take in consideration every requirements you may have, and meeting your highest expectation.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Preparation:
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                At this appointment Dr. Francis will prepare your teeth for receiving the new ceramic veneers. Depending on the indication and the type of veneers this may require the removal of a small amount of your tooth structures or an old restorative materials if present, normally around half a millimetre in thickness. In this appointment we also create your temporary veneers from the new prototype of your new smile. Thus we can evaluate the prototype in your mouth and test your phonetics bite and the way your smile looks. After your approval of all the elements of your new smile We’ll take an impression of it and send it to our trusted lab where a skilled ceramist will make your Ceramic veneers by hand under magnification of a microscope. Your completed restorations will be ready in approximately two to three weeks.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Bonding:
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                At this appointment, we will remove the temporaries, then place the porcelain veneers on your teeth with water or glycerin to check their fit and color. Once the Veneers meets your approval, he will clean your tooth to ensure a tight bond with the veneer. He’ll use bonding cement and a special light to permanently affix your veneers and revitalise your smile.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Follow-Up Care and Maintenance:
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                You’ll return for a follow-up visit after one to two weeks. In this visit we evaluate your oral hygiene and also a fine-tuning of your bite if needed. <br>
                Also if you grind or clench your teeth during your sleep we will make you a special invisible splint that will protect your veneers and relaxes your facial muscles during your sleep, to insure a longevity and comfort of your smile.
                {% endblocktrans %}
            </p>
           
            </div></div></div>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                      <h3>{% trans 'Cases' %}:</h3>
                <div class="chess-gallery">
                    <div class="chess-gallery-left slide-bottom-4">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-1/Before.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}Before{% endblocktrans %}</p>
                        </div>
                    </div>

                    <div class="chess-gallery-right slide-bottom-5">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-1/After.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}After{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="chess-gallery-left slide-bottom-4">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-2/Before.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}Before{% endblocktrans %}</p>
                        </div>
                    </div>

                    <div class="chess-gallery-right slide-bottom-5">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-2/After.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}After{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="chess-gallery-left slide-bottom-4">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-3/Before.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}Before{% endblocktrans %}</p>
                        </div>
                    </div>

                    <div class="chess-gallery-right slide-bottom-5">
                        <div class="chess-gallery-img">
                            <img src="{% static 'img/cases/case-3/After.jpg' %}" alt="">
                        </div>
                        <div class="chess-gallery-text-wrap">
                            <p class="chess-gallery-title">{% blocktrans %}After{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> -->



{% endblock %}

{% block extra_js %}

{% endblock %}
