{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Restorative Dentistry' %}{% endblock %}

{% block body_class %}template-restorative-dentistry{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                {% blocktrans %}
                <span class="text-semi-bold">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget</span> consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.
                {% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    {% blocktrans %}
                    <span class="text-extra-light">Dental</span>
                    <span class="text-normal">Services</span>
                    {% endblocktrans %}
                </p>
                <h1 class="ts-text-box-title">
                    {% blocktrans %}
                    <span class="text-thin">Restorative</span><br>
                    <span class="text-light">Dentistry</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>

{% endblock %}
