{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Teeth Whitening' %}{% endblock %}

{% block body_class %}template-teeth-whitening{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="top-section top-section-text-box-type row">
        <div class="ts-red-box col-sm-offset-5 col-sm-7 slide-right">
            <p class="ts-red-box-text">
                <span class="text-semi-bold">
                    {% trans 'Beautifying Smiles with Professional Teeth Whitening.' %}
                </span> 
                {% blocktrans %}It’s easier than ever to have a terrific smile. Every day, people just like you enhance their appearance and renew their confidence with professional teeth whitening. Our office offers a combination of an in-office and take-home bleaching to rejuvenate discoloured smiles.{% endblocktrans %}
            </p>
        </div>
        <div class="ts-triangles col-sm-offset-5 col-sm-7 slide-right">
            {% include 'partials/top-section/_triangles.html' %}
        </div>

        <div class="ts-gray-box slide-right"></div>
        <div class="ts-text-box slide-left">
            <div class="ts-text-box-inner">
                <p class="ts-text-box-subtitle">
                    <span class="text-extra-light">{% trans 'Dental' %}</span>
                    <span class="text-normal">{% trans 'Services' %}</span>
                </p>
                <h1 class="ts-text-box-title">
                    {% blocktrans %}
                    <span class="text-thin">Teeth</span><br>
                    <span class="text-light">Whitening</span>
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>

</div>

<br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <p class="copy-center-title slide-bottom-1">
                {% blocktrans %}
                Is teeth whitening safe?
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-2">
                {% blocktrans %}
                Definitely. Research and clinical studies indicate that whitening teeth under the supervision of a dentist is safe and effective. Many dentists consider teeth whitening the safest cosmetic dentistry procedure available. However, teeth bleaching is not recommended for children under 13 years of age or for pregnant or lactating women. And all the bleaching materials that we use hold an FDA approval, which is the highest standard for safety and quality.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                Am I a candidate for teeth whitening? 
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Almost anyone with stained or discoloured teeth can achieve a brighter smile with professional bleaching. Please note, though, that treatment may take longer time to be as effective for some patients as it is for others. We will examine your teeth to determine if whitening is a good choice for your smile.
                {% endblocktrans %}
            </p>
           
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                What can I expect from teeth whitening? 
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                A beautiful smile! Teeth whitening can erase stains and discolourations caused by food, beverages, tobacco, medications, and age. Our uses the latest in bleaching technology to safely and effectively deliver beautiful, brilliant smiles.
                {% endblocktrans %}
            </p>
            <p class="copy-center-title slide-bottom-3">
                {% blocktrans %}
                In-Office Whitening
                {% endblocktrans %}
            </p>
            <p class="copy-center slide-bottom-4">
                {% blocktrans %}
                Our office offers Zoom! Whitening, the leading teeth whitening system, to lighten smiles up to eight shades in about an hour. You can sit back and relax while we apply special Zoom! Whitening gel to your teeth and activate it with a special light. The gel and light work in harmony to lift stains and discolourations and create dazzling smiles. This process is ideal for anyone who wants immediate results. We’ll also give you custom-made bleaching trays and professional-strength teeth whitening gel for at-home touchups to improve even more the In office bleaching results, and to maintain the brilliant white smile for a long time.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>



{% endblock %}